.filters-group {
  margin-top: 1rem;
  margin-bottom: .5rem;

  .checkboxes:not([hidden]) {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem .75rem;

    &.first-group {

    }

    &.second-group {
      margin-top: .5rem;
    }

    &.all {
      padding-bottom: .5rem;
    }
  }
}
