.filters-group {
  padding-bottom: 1rem;

  .filters-group-title {
    margin-block: 1rem;
  }

  .checkboxes {
    --vertical-gap: .5rem;

    margin-bottom: var(--vertical-gap);
    gap: var(--vertical-gap) .75rem;

    &:not([hidden]) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
