.order-comment {
  .info {
    margin-top: .75rem;
    margin-bottom: .25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #27282B;

    .comment {
      margin: 0;
      font-family: inherit;
    }
  }

  .form {
    margin-top: .75rem;

    .button {
      margin-top: .625rem;
      width: 100%;
    }
  }
}
