.order-certificate {

  .info {
    margin-top: .75rem;
    margin-bottom: .25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #27282B;
  }

  .form {
    margin-top: .75rem;

    &:not([hidden]) {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;
      gap: .75rem;
    }

    span {
      flex-grow: 1;
    }

    .button {
      width: 7.5rem;
      height: 2.5rem;
    }
  }
}
