.order-personal {
  .info {
    margin-top: .75rem;
    margin-bottom: .25rem;
    color: #27282B;

    .full-name,
    .phone {
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    .email {
      margin-top: .625rem;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  .form {
    .fieldset {
      margin-top: .75rem;
      align-items: flex-start;
      gap: .25rem;

      .label {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #8F8F8F;
      }

      .input {
        padding-inline: .75rem;
      }
    }

    .button {
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}
