.section-breadcrumbs {
  padding-block: .75rem;
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
  font-weight: 400;
  font-size: .75rem;
  line-height: .875rem;

  .link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .625rem;
    color: #9EA8B0;
    text-decoration: none;
  }

  .current-page {
    color: #009AE3;
  }
}
