.util-header {
  flex-shrink: 0;
  min-height: 3.25rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  &::before {
    content: "";
  }

  &.type-page::before {
    flex-basis: 3rem;
  }

  &.type-popup::before {
    flex-basis: 3.75rem;
  }

  &.type-profile::before {
    flex-basis: 3.375rem;
  }

  &.type-long::before {
    flex-basis: 0;
  }

  .title {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    font-weight: 700;

    color: #373635;

    .type-page &,
    .type-popup &,
    .type-profile & {
      font-size: 1.5rem;
      text-align: center;
    }

    .type-long & {
      font-size: 1.125rem;
      text-align: left;
    }
  }
}
