.page-wrapper {
  padding-top: .5rem;
  padding-bottom: .25rem;
}

.page-footer {
  .checkout-wrapper {
    padding-inline: 1rem;
    height: var(--cart-checkout-wrapper--h);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
  }

  .bottom-old {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #E81331;
    text-decoration: line-through;
  }

  .bottom-total {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.25rem;
    color: #27282B;
  }

  .button {
    min-width: 10.625rem;
    min-height: 2.25rem;
    font-size: .875rem;
  }
}


.section-positions {
  margin-top: .5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem;
}

.section-summary {
  margin-top: .625rem;
  margin-bottom: calc(var(--cart-checkout-wrapper--h) + .625rem);

  .row {
    margin-bottom: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    &.total {
      margin-top: .75rem;
    }

    .left {
      font-weight: 300;
      font-size: .875rem;
      line-height: 1.25rem;
    }

    .right {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
    }

    .black {
      color: #27282B;
    }

    .red {
      color: #E81331;
    }

    .blue {
      font-weight: 700;
      font-size: 1.375rem;
      line-height: 1.625rem;
      color: #009AE3;
    }
  }

  .button {
    margin-top: 1.125rem;
  }
}
