.page-wrapper {
  padding-top: .25rem;
  padding-bottom: 1.5rem;
}


.comparison-wrapper-old {
  position: relative;

  .comparison-scroller {
    margin-top: .75rem;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 40%;
    gap: 2rem 5%;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .column {
      scroll-snap-align: start;

      display: grid;
      grid-auto-flow: row;
      grid-row: auto / span 10;
      grid-template-rows: subgrid;

      .product {
        padding: 1rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
        text-align: center;
      }

      .property {
        padding: 1rem;
      }
    }
  }
}


.comparison-wrapper {
  margin-top: .75rem;
  position: relative;
  visibility: hidden;

  .reset-wrapper { /* TODO */
    z-index: 2;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;

    .reset {
      width: 100%;
    }
  }

  .layer {
    z-index: 0;
    position: absolute;
    inset: 0;

    .reset-bottom { /* TODO */
      height: 100px;
    }

    .name {
      padding: .625rem;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #8F8F8F;
      text-align: center;
      background-color: #FFFFFF;
    }
  }

  .slider {
    z-index: 1;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 136px; /* TODO */
    gap: 0 5%; /* TODO */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .product-wrapper { /* TODO */
      padding-bottom: 50px;

      .product {
        padding: 1rem;

        height: 50px;

        background-color: #FFFFFF;
        border-radius: 1rem;
        text-align: center;
      }
    }

    .value {
      padding: .625rem;
      width: 136px; /* TODO */
      overflow: visible;
      hyphens: auto;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #27282B;
    }

    .column {
      display: grid;
      grid-auto-flow: row;
      grid-row: auto / span 10;
      grid-template-rows: subgrid;
      scroll-snap-align: start;
    }
  }
}
