.page-wrapper {
  padding-top: .25rem;
  padding-bottom: 1.5rem;
}


.comparison-wrapper {
  margin-top: 1rem;
  position: relative;
  visibility: hidden;

  .remove-top {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-block: 1.25rem;

    .button {
      width: 100%;
    }
  }

  .layer {
    z-index: 0;
    position: absolute;
    inset: 0;

    .name {
      padding: .625rem;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #8F8F8F;
      text-align: center;
      background-color: #FFFFFF;
    }
  }

  .slider {
    --column-width: 9.5rem;

    @container app (width > 380px) {
      --column-width: 10rem;
    }

    @container app (width > 400px) {
      --column-width: 10.5rem;
    }

    z-index: 1;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--column-width);
    gap: 0 .5rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .value {
      padding: .625rem;
      width: var(--column-width);
      overflow: visible;
      hyphens: auto;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #27282B;
    }

    .column {
      display: grid;
      grid-auto-flow: row;
      grid-row: auto / span 10;
      grid-template-rows: subgrid;
      scroll-snap-align: start;
    }
  }
}
