.page-wrapper {
  padding-top: .25rem;
  padding-bottom: 1.25rem;
}

.section {
  margin-top: 1rem;

  &.section-chat {
    .text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.125rem;
      color: #27282B;
    }

    .buttons {
      margin: 1rem 0 .125rem;
      gap: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @container app (min-width: 496px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .button {
      color: #FFFFFF;
      min-width: 9rem;

      .svg {
        margin-top: .125rem;
      }

      &.live {
        border-color: #E15C1B;
        background-color: #E15C1B;
      }

      &.tg {
        border-color: #27A5E7;
        background-color: #27A5E7;
      }

      &.vk {
        border-color: #6287AE;
        background-color: #6287AE;
      }
    }
  }

  &.section-news {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    .item {
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }

    .date {
      flex-shrink: 0;
      margin-top: .125rem;
      padding-inline: 1.25rem;
      border-radius: 99999px;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2rem;
      color: #FFFFFF;
      background-color: #8F8F8F;
    }

    .name {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.125rem;
      color: #27282B;
    }
  }

  &.section-shop {
    h2 {
      margin: 0 0 1rem;
    }

    .item {
      .city {
        font-weight: 700;
        font-size: 1.125rem;
        color: #27282B;
        text-transform: uppercase;
      }

      .map {
        margin: 1rem 0 1.75rem;
        height: 300px;
        border: 1px solid #8F8F8F;
      }


    }
  }
}
