.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.25rem;
}


.section {
  margin-top: .5rem;

  &.section-chat {
    .text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.125rem;
      color: #27282B;
    }

    .buttons {
      margin: 1rem 0 .125rem;
      gap: .5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;

      @container app (min-width: 496px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .button {
      color: #FFFFFF;
      min-width: 9rem;

      .svg {
        margin-top: .125rem;
      }

      &.live {
        border-color: #E15C1B;
        background-color: #E15C1B;
      }

      &.tg {
        border-color: #27A5E7;
        background-color: #27A5E7;
      }

      &.vk {
        border-color: #6287AE;
        background-color: #6287AE;
      }
    }
  }

  &.section-news {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.section-shop {
    h2 {
      margin: 0 0 1rem;
    }

    .item {
      .city {
        font-weight: 700;
        font-size: 1.125rem;
        color: #27282B;
        text-transform: uppercase;
      }

      .map {
        margin: 1rem 0 1.75rem;
        height: 300px;
        border: 1px solid #8F8F8F;
      }

      .addresses {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;

        .address {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 1rem;
          font-style: normal;

          .icon {
            flex-shrink: 0;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 99999px;
            background-color: #009AE3;
            color: #FFFFFF;
          }

          .text {
            min-height: 2rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            font-weight: 400;
            font-size: .875rem;
            line-height: 1rem;
          }

          .link {
            color: #009AE3;
            text-decoration: none;
          }

          .schedule {
            display: grid;
            grid-template-columns: auto auto;
            gap: .375rem 1rem;

            font-size: .875rem;
            line-height: 1rem;
          }

          .days {
            font-weight: 700;
            text-align: right;
          }

          .clock {
            font-weight: 400;
            text-align: left;
          }
        }
      }
    }
  }
}
