.wrapper {
  padding-top: .5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.section-banners {
  order: 1;
}

.section-products {
  order: 2;
}

.section-news {
  order: 3;
}

.section-reviews {
  order: 4;
}

.section-brands {
  order: 5;
}

.section-info {
  order: 6;
}

.section-info {
  color: var(--color-title);

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    margin: 1rem 0 0;
    font-weight: 400;
    font-size: 1rem;
  }
}

.section-banners {

  .primary-banner {
    margin-inline: auto;
    overflow: hidden;
    border-radius: 1rem;
    display: block;
    text-decoration: none;
    width: min(100%, var(--banner--w, 100%));

    @container app (width > 430px) {
      --banner--w: 50%;
    }

    .img {
      display: block;
      object-fit: cover;
      aspect-ratio: 344/174;
      width: 100%;
    }
  }
}

.section-products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .title {
    margin: 0 0 .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--color-text);
  }

  .tiles {
    display: grid;
    gap: .5rem;
    /*grid-template-columns: repeat(auto-fit, minmax(min(100%, 10.5rem), 1fr));*/
    grid-template-columns: var(--products-tiles--gtc, 1fr 1fr);

    @container app (min-width: 536px) {
      --products-tiles--gtc: 1fr 1fr 1fr;
    }

    @container app (min-width: 712px) {
      --products-tiles--gtc: 1fr 1fr 1fr 1fr;
    }

    .product {
      grid-row: auto / span 5;
      display: grid;
      gap: 0;
      grid-template-rows: subgrid;

      .cover {
        padding-bottom: .5rem;
        text-decoration: none;

        .img {
          width: 100%;
          height: 5.25rem;
          display: block;
          object-fit: contain;
        }
      }

      .name {
        padding-bottom: .125rem;
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        color: var(--color-title);
        text-decoration: none;
      }

      .rating {

      }

      .prices {
        padding-top: .75rem;
        padding-bottom: .25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
      }

      .price-old {

      }

      .discount {

      }

      .bottom {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: .375rem;
      }

      .price {
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 1.625rem;
        color: var(--color-title);
      }

      .currency {
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        color: var(--color-title);
      }

      .cart {
        flex-shrink: 0;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        color: var(--color-link);
      }
    }
  }

  .button {
    margin-top: 1rem;
    min-height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 2px solid var(--color-link);
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: var(--color-link);
    text-decoration: none;
  }

  .banner {
    margin: 1rem auto 0;
    display: block;
    max-width: max-content;
    width: 100%;

    .img {
      width: 100%;
      display: block;
    }
  }
}


.section-header {
  flex-shrink: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  .title {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-text);
  }

  .link {
    flex-shrink: 0;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.125rem;
    color: var(--color-mute);
    text-transform: lowercase;
    text-decoration: none;
  }
}

.section-news .tiles {
}

.section-reviews .tiles {
}

.section-brands .tiles {
}
