.wrapper {
  padding-top: .5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.section-banners {
  order: 1;
}

.section-products {
  order: 2;
}

.section-news {
  order: 3;
}

.section-reviews {
  order: 4;
}

.section-brands {
  order: 5;
}

.section-info {
  order: 6;
}

.section-info {
  color: var(--color-title);

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    margin: 1rem 0 0;
    font-weight: 400;
    font-size: 1rem;
  }
}

.section-banners {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .banner {
    overflow: hidden;
    border-radius: 1rem;
    display: block;
    text-decoration: none;

    .img {
      margin-inline: auto;
      display: block;
      object-fit: cover;
    }
  }

  .large-banner,
  .large-banner .img {
    width: 100%;
    height: auto;
    aspect-ratio: 344/174;
  }

  .large-banner {
    @container app (width > 430px) {
      margin-right: .5rem;
      width: calc(100% / 2 - .25rem);
    }
  }

  .small-banner,
  .small-banner .img {
    width: auto;
    height: 7.5rem;
    aspect-ratio: 76/120;
  }

  .small-banner {
    margin-right: 8px;
  }
}

.section-products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .title {
    margin: 0 11rem .5rem 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--color-text);
  }

  .tiles {
    position: relative;
    height: 30.5rem;

    .product {
      padding: .5rem;
      margin-right: .5rem;
      width: var(--product--w, calc(100% / 2 - .25rem));
      height: 15rem;
      display: grid;
      gap: 0;
      grid-template-rows: 9.375rem 1rem 2rem 1.625rem;

      @container app (min-width: 536px) {
        --product--w: calc(100% / 3 - .3275rem);
      }

      @container app (min-width: 712px) {
        --product--w: calc(100% / 4 - .375rem);
      }

      .link {
        display: block;
        text-decoration: none;

        .img {
          width: 100%;
          height: 5.25rem;
          display: block;
          object-fit: contain;
        }

        .name {
          padding-top: .5rem;
          padding-bottom: .25rem;
          font-weight: 700;
          font-size: .875rem;
          line-height: 1.125rem;
          color: var(--color-title);

          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
        }
      }

      .rating {
        --val: 2.5;
        --size: 1rem;
        --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000000 0) 0 / var(--size);
        --bg: linear-gradient(90deg, var(--color-star) calc(var(--size) * var(--val)), var(--color-border) 0);
        height: var(--size);
        width: calc(var(--size) * 5);
        border: 0; /* Firefox adds a default border to ranges */
        -webkit-appearance: none;
        appearance: none;

        /* Chrome and Safari */

        &::-webkit-slider-runnable-track {
          height: 100%;
          mask: var(--mask);
          mask-composite: intersect;
          background: var(--bg);
          -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
        }

        &::-webkit-slider-thumb {
          opacity: 0;
        }

        /* Firefox */

        &::-moz-range-track {
          height: 100%;
          mask: var(--mask);
          mask-composite: intersect;
          background: var(--bg);
          print-color-adjust: exact;
        }

        &::-moz-range-thumb {
          opacity: 0;
        }
      }

      .old {
        padding-top: .75rem;
        padding-bottom: .25rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;

        .price {
          font-weight: 400;
          font-size: .75rem;
          line-height: 1rem;
          color: var(--color-old);
          text-decoration-line: line-through;
          text-decoration-thickness: 1px;
          text-decoration-style: solid;
          text-decoration-color: var(--color-accent);
        }

        .discount {
          padding-inline: .5rem;
          border-radius: 99999px;
          font-weight: 500;
          font-size: .625rem;
          line-height: 1rem;
          color: var(--color-light);
          background-color: var(--color-accent);
        }
      }

      .bottom {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: .375rem;

        .price {
          font-weight: 700;
          font-size: 1.375rem;
          line-height: 1.625rem;
          color: var(--color-title);
        }

        .currency {
          font-weight: 700;
          font-size: .875rem;
          line-height: 1.125rem;
          color: var(--color-title);
        }

        .cart {
          flex-shrink: 0;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          background-color: transparent;
          color: var(--color-link);

          .svg {
            width: 1.375rem;
            height: 1.375rem;
          }
        }
      }
    }

    .swiper-wrapper {
      width: 100%;
    }

    .swiper-pagination {
      left: auto;
      right: 0;
      bottom: 100%;
      z-index: 1;
      transform: translateY(-.5rem);
      width: auto;
      height: 1.875rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .swiper-pagination-bullet {
        margin: 0;
        width: .75rem;
        height: .75rem;
        background-color: var(--color-link);
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, .2) inset;
      }
    }
  }

  .button {
    margin-top: 1rem;
    min-height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 2px solid var(--color-link);
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: var(--color-link);
    text-decoration: none;
  }

  .banner {
    margin: 1rem auto 0;
    display: block;
    max-width: max-content;
    width: 100%;

    .img {
      width: 100%;
      display: block;
    }
  }
}


.section-header {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  .title {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-text);
  }

  .link {
    flex-shrink: 0;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.125rem;
    color: var(--color-mute);
    text-transform: lowercase;
    text-decoration: none;
  }
}

.section-news .items {
  margin-top: 1.25rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;

  .item {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .date {
    flex-shrink: 0;
    margin-top: .125rem;
    padding-inline: 1.25rem;
    border-radius: 99999px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--color-light);
    background-color: var(--color-mute);
  }

  .name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: var(--color-text);
  }
}

.section-reviews .items {
  position: relative;
  margin-top: 1.25rem;
  margin-bottom: .25rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 1.25rem;
    display: block;
    pointer-events: none;
  }

  &::before {
    right: 100%;
    transform: translateX(.25rem);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  &::after {
    left: 100%;
    transform: translateX(-.25rem);
    background-image: linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  .item {
    width: 7rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .75rem;
    text-decoration: none;
  }

  .img {
    margin-inline: auto;
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 112/70;
  }

  .name {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.125rem;
    color: var(--color-text);
  }
}

.section-brands .items {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem .5rem;

  .item {
    height: 2.625rem;
    overflow: hidden;
    padding-inline: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    background-color: var(--color-another-border);
    text-decoration: none;
  }
}
