.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}


.section-banners {
  order: 1;
}

.section-products {
  order: 2;
}

.section-news {
  order: 3;
}

.section-reviews {
  order: 4;
}

.section-brands {
  order: 5;
}

.section-info {
  order: 6;
}

.section-banners {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .banner {
    overflow: hidden;
    border-radius: 1rem;
    display: block;
    text-decoration: none;

    .img {
      margin-inline: auto;
      object-fit: cover;
    }
  }

  .large-banner,
  .large-banner .img {
    width: 100%;
    height: auto;
    aspect-ratio: 344/174;
  }

  .large-banner {
    @container app (width > 430px) {
      margin-right: .5rem;
      width: calc(100% / 2 - .25rem);
    }
  }

  .small-banner,
  .small-banner .img {
    width: auto;
    height: 7.5rem;
    aspect-ratio: 76/120;
  }
}

.section-products {
  margin-top: 1rem;

  .button {
    margin-top: 1rem;
  }

  .banner {
    margin: 1rem auto 0;
    display: block;
    max-width: max-content;
    width: 100%;

    .img {
      height: auto;
      max-width: 100%;
    }
  }
}

.section-news {
  margin-top: 1rem;

  .items {
    margin-top: 1.25rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.25rem;

    .item {
      text-decoration: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }

    .date {
      flex-shrink: 0;
      margin-top: .125rem;
      padding-inline: 1.25rem;
      border-radius: 99999px;
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 2rem;
      color: #FFFFFF;
      background-color: #8F8F8F;
    }

    .name {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.125rem;
      color: #27282B;
    }
  }
}

.section-reviews {
  margin-top: 1rem;
}

.section-brands {
  margin-top: 1rem;

  .items {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: .625rem .5rem;

    .item {
      height: 2.625rem;
      overflow: hidden;
      padding-inline: .75rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 99999px;
      background-color: #DFE8F1;
      text-decoration: none;
    }
  }
}
