.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}


.tiles {
  margin-top: .5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem;

  .h2 {
    margin: 0;
    font-weight: 700;
    color: #27282B;

    .rows & {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .grid & {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .button {
      min-width: 3.75rem;
      border: none;
      background-color: transparent;
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.25rem;
      color: #BABABA;
      text-align: center;
      text-transform: lowercase;
    }
  }

  .grid {
    .form-grid {
      margin-top: .875rem;
      display: grid;
      gap: .5rem;
      grid-template-columns: var(--grid-form--gtc, 1fr 1fr);

      @container app (min-width: 538px) {
        --grid-form--gtc: 1fr 1fr 1fr;
      }

      @container app (min-width: 716px) {
        --grid-form--gtc: 1fr 1fr 1fr 1fr;
      }

      & > div {
        padding: .75rem;

        &:not([hidden]) {
          grid-row: auto / span 5;
          display: grid;
          gap: 0;
          grid-template-rows: subgrid;
        }

        border-radius: .25rem;
        cursor: pointer;
        background-color: #F1F4F6;

        &:has(input[type="radio"]:checked) {
          background-color: #009AE3;
        }
      }
    }
  }
}
