.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}


.tiles {
  margin-top: .5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem;

  .h2 {
    margin: 0;
    font-weight: 700;
    color: #27282B;

    .rows & {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .grid & {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .button {
      min-width: 3.75rem;
      border: none;
      background-color: transparent;
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.25rem;
      color: #BABABA;
      text-align: center;
      text-transform: lowercase;
    }
  }

  .grid {
    .form-grid {
      margin-top: .875rem;
      display: grid;
      gap: .5rem;
      grid-template-columns: var(--grid-form--gtc, 1fr 1fr);

      @container app (min-width: 538px) {
        --grid-form--gtc: 1fr 1fr 1fr;
      }

      @container app (min-width: 716px) {
        --grid-form--gtc: 1fr 1fr 1fr 1fr;
      }

      & > div {
        padding: .75rem;

        &:not([hidden]) {
          grid-row: auto / span 5;
          display: grid;
          gap: 0;
          grid-template-rows: subgrid;
        }

        border-radius: .25rem;
        cursor: pointer;
        background-color: #F1F4F6;

        &:has(input[type="radio"]:checked) {
          background-color: #009AE3;
        }
      }
    }
  }
}

.alert {
  width: fit-content;
  padding: .625rem 1rem;
  border-radius: 1rem;
  border: 1px solid #E81331;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  text-align: left;
  color: #E81331;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  box-shadow: 0 0 .375rem 0 rgba(0, 0, 0, .1);

  &::after {
    content: "";
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: .25rem solid #009AE3;
    border-top-color: transparent;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
