.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}


.tiles {
  margin-top: .5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem;

  .h2 {
    margin: 0;
    font-weight: 700;
    color: #27282B;

    .rows & {
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    .grid & {
      font-size: 1.375rem;
      line-height: 1.75rem;
    }
  }

  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .button {
      border: none;
      background-color: transparent;
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.25rem;
      color: #BABABA;
      text-transform: lowercase;
    }
  }

}
