.util-header.main-header {
  min-height: 3.25rem;

  &::before {
    flex-basis: 3.375rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;

  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--color-text);
  }

  .text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .button {
    flex-shrink: 0;
    min-height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: var(--color-mute);
    text-transform: lowercase;
  }
}

.main.profile .util-tile {
  margin-top: .5rem;
}
