.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

.page-footer {
  .payments-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding-top: var(--header--h);
    height: 100dvh;

    &:not([hidden]) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .payments {
    padding: .5rem;
    overflow: auto;
    border-radius: 1.375rem 1.375rem 0 0;
    background-color: #FFFFFF;
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, .2);
    width: var(--payments--w, 100%);

    @container app (width > 430px) {
      --payments--w: 360px;
    }

    .payments-header {
      margin-block: 1.25rem;
      padding-inline: 3.5rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .text {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #27282B;
        text-align: center;
      }

      .close {
        position: absolute;
        right: .325rem;
        top: 50%;
        transform: translateY(-50%);
        width: 2.75rem;
        border: none;
        background-color: transparent;
        color: #8F8F8F;
      }
    }

    .payments-main {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: stretch;
      gap: .25rem;
    }

    .payment {
      min-height: 2.625rem;
      padding-left: 1rem;
      padding-right: 4rem;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .5rem;
      border: none;
      border-radius: .25rem;
      background-color: #F1F4F6;

      .text {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.125rem;
        color: #27282B;
        text-align: left;
      }

      .img {
        position: absolute;
        right: .5rem;
        top: 50%;
        transform: translateY(-50%);
        max-width: 3rem;
        max-height: 2rem;
        object-fit: contain;
      }
    }
  }
}


.section {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;

  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .125rem;

    .primary {
      color: #27282B;
    }

    .secondary {
      color: #009AE3;
    }

    .third {
      color: #8F8F8F;
    }
  }

  .title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .button {
    flex-shrink: 0;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #8F8F8F;
    text-transform: lowercase;
  }
}

.section-orders {
  margin-top: .5rem;

  .orders-title {
    margin-bottom: 2.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #27282B;
  }

  .orders {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.25rem;
  }
}
