.filters-group {
  padding-bottom: 1rem;

  .filters-group-title {
    padding-block: 1rem;
  }

  .checkboxes {
    margin-bottom: .5rem;
    gap: .5rem;

    &:not([hidden]) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
