.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  background-color: #FFFFFF;
  color: #373635;

  .footer-wrapper {
    height: var(--footer--h);
    padding-block: 0.75rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2.25rem;
  }

  .button {
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    border: none;

    text-decoration: none;
    background-color: transparent;

    .icon {
      flex-grow: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      font-weight: 400;
      font-size: 0.5rem;
      line-height: 0.75rem;
      text-align: center;
      color: #373635;
    }
  }
}

.footer-decoration {
  height: 0.875rem;
  pointer-events: none;
  background-image: linear-gradient(0, #D6D5D5 0%, #FFFFFF 100%);

  .layout.product & {
    display: none; /* TODO: product's page button */
  }
}
