.header-menu {
  flex-shrink: 0;
  width: 2.875rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background-color: transparent;
  color: #FFFFFF;

  .icon {
    position: relative;

    .svg {
      display: block;
    }

    .img {
      position: absolute;
      top: -14px;
      right: -7px;
      z-index: 1;

      width: 21px;
      height: 21px;

      display: block;
    }
  }
}
