.item-news {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  .date {
    flex-shrink: 0;
    margin-top: .125rem;
    padding-inline: 1.25rem;
    border-radius: 99999px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: #FFFFFF;
    background-color: #8F8F8F;
  }

  .name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #27282B;
  }
}
