.nav-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 112px), 1fr));
  gap: .25rem;

  .tile {
    display: block;
    border-radius: .25rem;
    text-decoration: none;
    overflow: hidden;
  }

  .cover {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 112/150;
  }
}
