.order-bonuses {
  .balance-wrapper {
    margin-top: .25rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #8F8F8F;

    .balance {
      font-weight: 700;
      color: #009AE3;
    }
  }

  .info {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #E81331;
  }

  .form {
    margin-top: .75rem;

    &:not([hidden]) {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .75rem;
    }

    .input {
      flex-grow: 1;
      padding-inline: 1rem;
    }

    .button {
      flex-shrink: 0;
      width: 7.5rem;
      min-height: 2.5rem;
      font-size: 1rem;
    }
  }
}
