[data-popup-name="filters"] .popup-header {
  padding-inline: 1.25rem;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 1.25rem;
    right: 1.25rem;
    border-bottom: 1px solid #D6D5D5;
  }
}

.popup-filters {
  position: relative;
  padding-inline: .75rem;

  .filters-form-group {
    &:first-child {
      padding-top: .5rem;
    }

    &:not(:first-child) {
      padding-top: 1rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #D6D5D5;
    }
  }

  .title {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.875rem;
    color: #373635;
  }
}

.filters-buttons-wrapper {
  position: relative;
  padding: .5rem 1.25rem 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 1.25rem;
    right: 1.25rem;
    border-bottom: 1px solid #D6D5D5;
  }

  .button {
    min-height: 2.75rem;
  }
}
