.popup-profile-name {
  overflow: hidden;

  .step:not([hidden]) {
    margin-bottom: 3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
  }

  .form-profile-name {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;

    .button {
      margin-top: .5rem;
    }
  }

  .fieldset {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .25rem;

    .label {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #8F8F8F;
    }

    .input {
      padding-inline: .75rem;
      min-height: 2.5rem;
      width: 100%;
      border-radius: 1rem;
      border: 1px solid #D9D9D9;
      font-weight: 400;
      color: #27282B;

      &::placeholder {
        color: #757575;
      }
    }
  }

  .back {
    margin-top: .5rem;
  }
}
