.slider-products {
  max-width: 100%;

  .title {
    margin: 0 6rem .5rem 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--color-text);
  }

  .tiles {
    position: relative;
    height: 30.5rem;

    .swiper-wrapper {
      width: 100%;
    }

    .swiper-pagination {
      left: auto;
      right: 0;
      bottom: 100%;
      z-index: 1;
      transform: translateY(-.5rem);
      width: auto;
      height: 1.875rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      .swiper-pagination-bullet {
        margin: 0;
        width: .75rem;
        height: .75rem;
        background-color: var(--color-link);
        box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, .2) inset;
      }
    }
  }
}
