.slider-products {
  max-width: 100%;

  .title {
    margin: 0 6rem .5rem 0;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: #27282B;
  }

  .tiles {
    position: relative;
    height: 31.5rem;

    .swiper-wrapper {
      width: 100%;
    }

    .swiper-pagination {
      left: auto;
      right: 0;
      bottom: 100%;
      transform: translateY(-.5rem);
      width: auto;
      height: 1.875rem;
    }
  }
}
