.tile-order-grid-edit {
  position: relative;

  .center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
    text-align: center;

    .t {
      padding-bottom: .25rem;
      border-bottom: 1px solid currentColor;
      color: #009AE3;
    }

    .b {
      color: #27282B;
    }
  }
}
