.util-tile {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  box-shadow: 0 0 .375rem 0 rgba(0, 0, 0, .1);

  &.section-info {
    hyphens: auto;
    color: #373635;

    h1, h2 {
      margin: 0;
      font-weight: 700;
      font-size: 1rem;
    }

    p {
      margin: 1rem 0 0;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}
