.order-delivery-5 {
  margin-top: 1rem;

  .label {
    display: block;
    margin-bottom: .5rem;
    width: fit-content;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
    color: #27282B;
  }

  .map {
    height: 280px;
    padding: 0;
    margin: 0 -1rem 1rem;
    background-color: #F1F4F6;
  }

  .address-wrapper {
    position: relative;
    z-index: 0;
    margin-bottom: 1rem;

    .input {
      position: relative;
      z-index: 0;
      padding-left: 1rem;
      padding-right: 3rem;
    }

    .button {
      position: absolute;
      top: 0;
      right: .5rem;
      bottom: 0;
      z-index: 1;
      width: 2rem;

      &:not([hidden]) {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      border: none;
      background-color: transparent;
    }
  }

  .extra {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;

    .input {
      padding-inline: 1rem;
    }
  }

  .datetime {
    &:not([hidden]) {
      display: grid;
      gap: 1rem .5rem;
      grid-template-columns: var(--datetime--gtc, 1fr);

      @container app (min-width: 716px) {
        --datetime--gtc: 1fr 1fr;
      }
    }

    .datetime-tile {
      min-height: 3.5rem;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 0.25rem;
      user-select: none;
      background-color: #F1F4F6;
      color: #27282B;
      cursor: pointer;

      &:has(input[type="radio"]:checked) {
        background-color: #009AE3;
        color: #FFFFFF;
        cursor: default;
      }

      &:has(input[type="radio"]:disabled) {
        background-color: #E81331;
        color: #FFFFFF;
        cursor: not-allowed;
      }

      &.date {
        [data-date-value] {
          font-size: 1rem;
          font-weight: 700;
        }

        [data-week-value] {
          font-size: .875rem;
          font-weight: 400;
        }
      }

      &.time {
        [data-time-value] {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    .dates {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      gap: .5rem;
    }

    .times {
      display: grid;
      gap: .5rem;
      grid-template-columns: var(--datetime-times--gtc, 1fr 1fr);

      @container app (min-width: 538px) {
        --datetime-times--gtc: 1fr 1fr 1fr;
      }

      @container app (min-width: 716px) {
        --datetime-times--gtc: 1fr 1fr;
      }
    }
  }
}
