---

---

<div class="order-delivery-5" hidden>
  <link rel="stylesheet" href="./components/deliveries/5/styles.css"/>

  <div class="label">Адрес доставки (укажите точку на карте)</div>

  <script src="./components/deliveries/5/script.js" is:inline async></script>
</div>
