input, textarea {
  font-size: max(16px, var(--input--fz));

  &:focus-visible {
    outline: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

summary, button {
  cursor: pointer;
}

button {
  padding: .125rem;
}

svg {
  fill: none;
}

p {
  text-wrap: pretty;
}

img {
  display: block;
}

.swiper-notification {
  display: none;
}

.swiper-pagination {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .swiper-pagination-bullet {
    --swiper-pagination-bullet-horizontal-gap: 0;
    width: .75rem;
    height: .75rem;
    background-color: #009AE3;
    box-shadow: 0 0 .125rem 0 rgba(0, 0, 0, .2) inset;
  }
}


:root {
  --header--h: 3.75rem;
  --footer--h: 4rem;
  --catalog-detail-button-buy-wrapper--h: 4.375rem;
  --cart-checkout-wrapper--h: 3.375rem;
}

.layout {
  scrollbar-gutter: stable;
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
  display: block;
  font-size: var(--layout--fz, 12px);

  @media (min-width: 320px) {
    --layout--fz: 14px;
  }

  @media (min-width: 360px) {
    --layout--fz: 16px;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(.popups:not([hidden])) {
    overflow-y: hidden;
  }

  &:has(.payments-backdrop:not([hidden])) {
    overflow-y: hidden;

    .page-footer:after, .footer {
      display: none;
    }
  }
}

#app {
  container: app / inline-size;
}

.main {
  position: relative;
  padding-top: var(--header--h);
  padding-bottom: var(--footer--h);
  min-height: 100dvh;
  background-color: #F1F4F6;
}

.page-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--footer--h);
  z-index: 1;
  background-color: #F1F4F6;
}

.util-decoration {
  position: relative;
  height: .875rem;
}

.popup::after,
.page-footer::after,
.util-decoration::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: .875rem;
  pointer-events: none;
  background-image: linear-gradient(0, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 0) 100%);
}

.page-footer::after {
  bottom: 100%;
}

.popup::after,
.util-decoration::after {
  bottom: 0;
}

.util-button {
  padding: .125rem;
  min-height: 3.125rem;

  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;

  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &:not([hidden]) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
  }

  &.primary {
    border-color: #009AE3;
    background-color: #009AE3;
    color: #FFFFFF;
  }

  &.secondary {
    border-color: #D9D9D9;
    background-color: #FFFFFF;
    color: #373635;
  }
}

.util-link {
  flex-shrink: 0;
  padding: .125rem;
  min-height: 2.25rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: #009AE3;
  text-transform: lowercase;
  text-decoration: none;

  &:not([hidden]) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.util-form-field-error {
  border-color: #E81331 !important;

  &::before, &::after {
    border-color: #E81331 !important;
  }
}

.util-form-field {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #D9D9D9;
  background-color: #FFFFFF;
  color: #27282B;

  &::placeholder {
    color: #757575;
  }

  &:not(.strong) {
    font-weight: 400;
  }

  &.strong {
    font-weight: 700;
  }

  &:not(.large) {
    --input--fz: 1rem;
  }

  &.large {
    --input--fz: 1.125rem;
  }

  &.low {
    min-height: 2.5rem;
  }

  &.high {
    min-height: 3.125rem;
  }

  &.textarea {
    min-height: 7rem;
  }
}

.util-form-fieldset {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
