---

---

<section class="order-delivery-pickup" hidden>
  <link rel="stylesheet" href="./components/deliveries/pickup/styles.css"/>

  <div class="label">Выберите магазин</div>
  <div class="select">
    <div class="input">
      <span data-pickup-selected="0"></span>
      <div class="svg-wrapper">
        <svg class="svg" width="13" height="8" viewBox="0 0 13 8" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 1L6.5 7L1 1" stroke="#27282B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </div>
    <div class="options" data-pickup-options hidden></div>
    <div class="option" data-pickup-value="" data-pickup-sample hidden></div>
  </div>

  <script src="./components/deliveries/pickup/script.js" is:inline async></script>
</section>
