.page-wrapper {
  padding-top: .5rem;
  padding-bottom: .875rem;
}

.page-header::before {
  flex-basis: 3rem;
}

.main.catalog {
  background-color: var(--color-bg-light);
}


.section {
  margin-top: .5rem;
}
