.page-wrapper {
  position: relative;
  padding-top: .25rem;
  width: 100cqw;
  left: 50%;
  transform: translateX(-50cqw);
  background-color: #FFFFFF;
}

.page-footer {
  .button-buy-wrapper:not([hidden]) {
    height: var(--catalog-detail-button-buy-wrapper--h);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    flex-grow: 1;
    border-color: #373635;
    background-color: #373635;
    color: #FFFFFF;

    .svg {
      width: 1.375rem;
      height: 1.375rem;
    }
  }
}


.section-top {
  overflow: hidden;

  .top-rows {
    margin-top: .5rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5rem;

    .link {
      color: #009AE3;
      text-decoration: none;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: .875rem;
      line-height: 1.125rem;

      .t {
        min-height: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .375rem;
      }

      .l, .r {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
      }

      .l {
        align-items: flex-start;

        .b {
          font-weight: 300;
          color: #9EA8B0;
          text-align: left;
        }
      }

      .r {
        align-items: stretch;

        .t {
          padding-inline: .625rem;
          border-radius: .5rem;
          background-color: #009AE3;
          font-weight: 500;
          color: #FFFFFF;
        }

        .b {
          font-weight: 400;
          color: #27282B;
          text-align: center;
        }
      }
    }
  }

  .photos {
    position: relative;
    margin-top: .75rem;
    padding-bottom: .75rem;

    .img {
      margin-inline: auto;
      width: 100%;
      height: auto;
      aspect-ratio: 360/240;
      object-fit: cover;

      @container app (width > 430px) {
        width: calc(100% / 2 - .25rem);
      }
    }

    .swiper-pagination {
      bottom: 0;
    }
  }

  .bottom-rows {
    margin-top: .75rem;
    border-top: 1px solid #D9D9D9;

    .link {
      font-weight: 500;
      color: #009AE3;
      text-decoration-line: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: .375rem;
      text-decoration-style: solid;
    }

    .row {
      padding-block: .375rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border-bottom: 1px solid #D9D9D9;
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.125rem;
      color: #27282B;
      text-align: center;

      .l, .r {
        padding-top: .375rem;
        padding-bottom: .5rem;
      }

      .l {
        border-right: 1px solid #D9D9D9;
      }
    }
  }
}

.section-buy {
  overflow: hidden;

  .misc {
    padding-block: .875rem;
  }

  .one-click {
    margin-bottom: .875rem;
    width: 100%;
    border-color: #009AE3;
    background-color: #FFFFFF;
    color: #009AE3;
  }

  .availability {

  }

  .sizes {
    padding-block: .625rem;
  }
}

.section-spoilers {
  .spoiler {
    padding-block: 1.25rem;
    border-top: 1px solid #D9D9D9;

    &[open] .spoiler-header .svg {
      transform: rotate(180deg);
    }
  }

  .spoiler-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;

    .text {
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 1.625rem;
      text-transform: uppercase;
      user-select: none;

      mark {
        color: #009AE3;
        background-color: transparent;
      }
    }

    .svg {
      margin-right: 1.25rem;
    }
  }

  .spoiler-main {
    margin-top: .75rem;
  }

  .info,
  .delivery {
    overflow: hidden;
    hyphens: auto;
    color: #373635;

    strong, b {
      font-weight: 700;
    }

    p, ol, ul {
      margin-block: 1rem;
    }

    p, ol, ul {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25;
    }

    ol, ul {
      padding-left: 1.5rem;

      ol, ul {
        margin-block: 0;
      }

      li {
        margin-block: .375rem;
      }
    }

    a {
      color: #009AE3;
      text-decoration: none;

      span {
        color: #009AE3 !important;
      }
    }
  }

  .delivery .spoiler-main strong,
  .delivery .spoiler-main b {
    color: #009AE3;
  }
}

.section-recommendations {
  overflow: hidden;
  padding-top: 1rem;
  padding-bottom: var(--section-recommendations--pb, calc(var(--catalog-detail-button-buy-wrapper--h) + .875rem));
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .main.catalog-detail:has(.button-buy-wrapper[hidden]) & {
    --section-recommendations--pb: .875rem;
  }
}
