.page-wrapper {
  padding-top: .25rem;
  padding-bottom: 1.5rem;
}


.slider {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--column-width, 9.5rem);
  gap: 0 .5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  @container app (width > 380px) {
    --column-width: 10rem;
  }

  @container app (width > 400px) {
    --column-width: 10.5rem;
  }

  .column {
    scroll-snap-align: start;
  }
}

.comparison-products {
  margin-top: .5rem;
  padding-block: .5rem;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #F1F4F6;
}

.comparison-button {
  padding: .75rem 0 1.25rem;

  .button {
    width: 100%;
  }
}

.comparison-properties {
  position: relative;
  visibility: hidden;

  .layer {
    z-index: 0;
    position: absolute;
    inset: 0;

    .name {
      padding: .625rem;
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #8F8F8F;
      text-align: center;
      background-color: #FFFFFF;
    }
  }

  .properties {
    z-index: 1;
    position: relative;

    .value {
      padding: .625rem;
      width: var(--column-width);
      overflow: visible;
      hyphens: auto;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: #27282B;
    }

    .column {
      display: grid;
      grid-auto-flow: row;
      grid-row: auto / span 10;
      grid-template-rows: subgrid;
    }
  }
}
