.wrapper {
  padding-top: .5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

.section-banners {
  order: 1;
}

.section-products {
  order: 2;
}

.section-news {
  order: 3;
}

.section-reviews {
  order: 4;
}

.section-brands {
  order: 5;
}

.section-info {
  order: 6;
}

.section-info {
  color: var(--color-title);

  h1 {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
  }

  p {
    margin: 1rem 0 0;
    font-weight: 400;
    font-size: 1rem;
  }
}

.section-banners {

  .large-banners {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: .5rem;
  }

  .large-banner {
    margin-inline: auto;
    overflow: hidden;
    border-radius: 1rem;
    display: block;
    text-decoration: none;
    /*width: min(100%, var(--banner--w, 100%));*/

    /*@container app (width > 430px) {*/
    /*  --banner--w: 50%;*/
    /*}*/

    .img {
      display: block;
      object-fit: cover;
      aspect-ratio: 344/174;
      max-width: 100%;
    }
  }
}

.section-products {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;

  .title {
    margin: 0 0 .5rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    color: var(--color-text);
  }

  .tiles {
    display: grid;
    gap: .5rem;
    /*grid-template-columns: repeat(auto-fit, minmax(min(100%, 10.5rem), 1fr));*/
    grid-template-columns: var(--products-tiles--gtc, 1fr 1fr);

    @container app (min-width: 536px) {
      --products-tiles--gtc: 1fr 1fr 1fr;
    }

    @container app (min-width: 712px) {
      --products-tiles--gtc: 1fr 1fr 1fr 1fr;
    }

    .product {
      grid-row: auto / span 5;
      display: grid;
      gap: 0;
      grid-template-rows: subgrid;

      .cover {
        margin-bottom: .5rem;
        text-decoration: none;

        .img {
          width: 100%;
          height: 5.25rem;
          display: block;
          object-fit: contain;
        }
      }

      .name {
        margin-bottom: .25rem;
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        color: var(--color-title);
        text-decoration: none;
      }

      .rating {
        --val: 2.5;
        --size: 1rem;
        --mask: conic-gradient(from -18deg at 61% 34.5%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 270deg at 39% 34.5%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 54deg at 68% 56%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 198deg at 32% 56%, #0000 108deg, #000000 0) 0 / var(--size),
        conic-gradient(from 126deg at 50% 69%, #0000 108deg, #000000 0) 0 / var(--size);
        --bg: linear-gradient(90deg, var(--color-star) calc(var(--size) * var(--val)), var(--color-border) 0);
        height: var(--size);
        width: calc(var(--size) * 5);
        border: 0; /* Firefox adds a default border to ranges */
        -webkit-appearance: none;
        appearance: none;

        /* Chrome and Safari */

        &::-webkit-slider-runnable-track {
          height: 100%;
          mask: var(--mask);
          mask-composite: intersect;
          background: var(--bg);
          -webkit-print-color-adjust: exact;
          print-color-adjust: exact;
        }

        &::-webkit-slider-thumb {
          opacity: 0;
        }

        /* Firefox */

        &::-moz-range-track {
          height: 100%;
          mask: var(--mask);
          mask-composite: intersect;
          background: var(--bg);
          print-color-adjust: exact;
        }

        &::-moz-range-thumb {
          opacity: 0;
        }
      }

      .prices {
        margin-top: .75rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
      }

      .price-old {
        font-weight: 400;
        font-size: .75rem;
        line-height: 1rem;
        color: var(--color-old);
        text-decoration-line: line-through;
        text-decoration-thickness: 1px;
        text-decoration-style: solid;
        text-decoration-color: var(--color-accent);
      }

      .discount {
        padding-inline: .5rem;
        border-radius: 99999px;
        font-weight: 500;
        font-size: .625rem;
        line-height: 1rem;
        color: var(--color-light);
        background-color: var(--color-accent);
      }

      .bottom {
        margin-top: .25rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: .375rem;
      }

      .price {
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 1.625rem;
        color: var(--color-title);
      }

      .currency {
        font-weight: 700;
        font-size: .875rem;
        line-height: 1.125rem;
        color: var(--color-title);
      }

      .cart {
        flex-shrink: 0;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        color: var(--color-link);
      }
    }
  }

  .button {
    margin-top: 1rem;
    min-height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    border: 2px solid var(--color-link);
    background-color: var(--color-light);
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    color: var(--color-link);
    text-decoration: none;
  }

  .banner {
    margin: 1rem auto 0;
    display: block;
    max-width: max-content;
    width: 100%;

    .img {
      width: 100%;
      display: block;
    }
  }
}


.section-header {
  flex-shrink: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  .title {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--color-text);
  }

  .link {
    flex-shrink: 0;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.125rem;
    color: var(--color-mute);
    text-transform: lowercase;
    text-decoration: none;
  }
}

.section-news .items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.25rem;

  .item {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .date {
    flex-shrink: 0;
    margin-top: .125rem;
    padding-inline: 1.25rem;
    border-radius: 99999px;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2rem;
    color: var(--color-light);
    background-color: var(--color-mute);
  }

  .name {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: var(--color-text);
  }
}

.section-reviews .items {
}

.section-brands .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: .625rem .5rem;

  .item {
    height: 2.625rem;
    overflow: hidden;
    padding-inline: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    background-color: var(--color-another-border);
    text-decoration: none;
  }
}
