.page-wrapper {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}


.section {
  color: #373635;

  .title {
    margin: 0 0 1.5rem;
    font-size: 1.5rem;
    line-height: 1.25;
  }

  .text {
    margin-block: 1.125rem;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25;
    hyphens: auto;
  }

  .form-present {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.25rem;

    .fieldset {
      align-items: flex-start;
      gap: .375rem;
    }

    .label {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.25rem;
      color: #8F8F8F;
    }

    .input {
      padding-inline: 1.25rem;
    }
  }
}
