.page-wrapper {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}


.section {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: .5rem;

  .info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .125rem;

    .primary {
      color: #27282B;
    }

    .secondary {
      color: #009AE3;
    }

    .third {
      color: #8F8F8F;
    }
  }

  .title {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .text {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .button {
    flex-shrink: 0;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #8F8F8F;
    text-transform: lowercase;
  }
}

.section-orders {
  margin-top: .5rem;

  .orders-title {
    margin-bottom: 2.25rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #27282B;
  }

  .orders {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1.25rem;
  }
}
