---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Бренды" page="brands" isUser={true}>
  <link rel="stylesheet" href="./pages/brands.css"/>
  <section class="section">
    brands
  </section>
</Layout>
