---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Корзина" page="cart" isUser={true}>
  <link rel="stylesheet" href="./pages/cart.css"/>
  <section class="section">
    cart
  </section>
</Layout>
