---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Каталог" page="catalog" isUser={true}>
  <link rel="stylesheet" href="./pages/catalog.css"/>
  <section class="section">
    catalog
  </section>
</Layout>
