---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Каталог" page="catalog" isUser={false}>
  <link rel="stylesheet" href="./pages/catalog.css"/>
  <section class="section">
    <Container>
      <div class="section-wrapper">
        catalog
      </div>
    </Container>
  </section>
</Layout>
