---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import NavCatalog from '../components/NavCatalog.astro';

const title: string = 'Каталог';
const link: string = '/catalog';
---

<Layout title="Каталоги" page="catalog" isUser={true}>
  <link rel="stylesheet" href="./pages/catalog.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section">
      <NavCatalog/>
    </section>
  </div>
</Layout>
