---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Товар" page="catalog-detail" isUser={true}>
  <link rel="stylesheet" href="./pages/catalog-detail.css"/>
  <section class="section">
    catalog-detail
  </section>
</Layout>
