---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Товары к сравнению" page="comparison" isUser={true}>
  <link rel="stylesheet" href="./pages/comparison.css"/>
  <section class="section">
    comparison
  </section>
</Layout>
