---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Контакты" page="contacts" isUser={true}>
  <link rel="stylesheet" href="./pages/contacts.css"/>
  <section class="section">
    contacts
  </section>
</Layout>
