---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
import UtilTile from '../components/UtilTile.astro';

const title: string = 'Доставка';
---

<Layout title="Доставка" page="delivery" isUser={true}>
  <link rel="stylesheet" href="./pages/delivery.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <UtilTile tag="section" classList={['section-info', 'mt2']} isHidden={false}>
      <h3>Для расчета стоимости и срока доставки укажите Ваш город, а также добавьте товары в корзину.</h3>
      <p>
        ВАЖНО:
      </p>
      <ol>
        <li>
          Для получения посылки возьмите свой паспорт или другой документ, удостоверяющий личность.
        </li>
        <li>
          Выбор транспортной компании остается за магазином. Если вы хотите выбрать транспортную компанию сами, то
          укажите
          это в комментариях. В таком случае оплата стоимости доставки производится клиентом при получении товара.
        </li>
        <li>
          В случае если вашего города нет в списке городов, то указывайте ближайший к Вам крупный город, который есть в
          списке, а в адресе доставки обязательно напишите конечный пункт назначения. Такая заявка будет обрабатываться
          вручную, сроки и стоимость сообщит Вам наш менеджер.
        </li>
        <li>
          Сроки доставки проставляются автоматически и предоставляются транспортными компаниями. Ответственность за
          превышение сроков доставки несет транспортная компания.
        </li>
        <li>
          В расчете срока отгрузки и доставки учитываются только рабочие дни, без выходных и праздничных дней.
        </li>
      </ol>
      <p>
        ВНИМАНИЕ!
        <br>
        Стоимость доставки заказов весом от 30кг. рассчитывается индивидуально (по тарифам ТК). Менеджер магазина
        свяжется с Вами для уточнения.
      </p>
      <p>
        Дополнительную информацию о доставке и оплате вы можете получить по электронной почте info@airsoft-rus.ru
      </p>
    </UtilTile>
  </div>
</Layout>
