---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Доставка" page="delivery" isUser={true}>
  <link rel="stylesheet" href="./pages/delivery.css"/>
  <div class="page-wrapper">
    delivery
  </div>
</Layout>
