---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';

const title: string = 'Доставка';
const link: string = '/delivery';
---

<Layout title="Доставка" page="delivery" isUser={true}>
  <link rel="stylesheet" href="./pages/delivery.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section">
      delivery
    </section>
  </div>
</Layout>
