---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';
---

<Layout title="Доставка" page="delivery" isUser={true}>
  <link rel="stylesheet" href="./pages/delivery.css"/>
  <div class="page-wrapper">
    <UtilHeader tag="section" classList={['page-header']}>
      <h1 class="title">Доставка</h1>
      <a href="/" class="button">
        <span>Назад</span>
      </a>
    </UtilHeader>
    <section class="section">
      delivery
    </section>
  </div>
</Layout>
