---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Избраннное" page="favourite" isUser={true}>
  <link rel="stylesheet" href="./pages/favourite.css"/>
  <section class="section">
    favourite
  </section>
</Layout>
