---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Как купить" page="how-to-buy" isUser={true}>
  <link rel="stylesheet" href="./pages/how-to-buy.css"/>
  <section class="section">
    how-to-buy
  </section>
</Layout>
