---
import Layout from '../layouts/Layout.astro';
import PageInfo from '../components/PageInfo.astro';

const title: string = 'Инструкция по покупке';
const content: string = `
<p>Для оформления заказа регистрация на нашем сайте не обязательна, но заведя учетную запись, у вас появится
  личный кабинет, в котором вы сможете быть в курсе статуса вашего заказа, видеть историю ваших заказов и
  накапливать <a href="#" data-popup-open="bonus">бонусные баллы</a> в нашем магазине.</p>
<ol>
  <li>Добавьте товары в корзину, далее нажмите на ваш заказ в правом верхнем углу экрана и переходите в окно
    оформления заказа, где отражены товары, которые вы заказали, их изображение, количество, цена и сумма
    заказа. Здесь вы можете откорректировать товар по количеству.
  </li>
  <li>Убедившись в правильности, выберите ваш регион проживания в левом верхнем углу экрана, далее нажмите
    кнопку «оформить заказ». Затем, из выпадающего списка, выберите город доставки. Укажите ваши данные (ФИО,
    контактный телефон, e-mail). Варианты и сроки доставки рассчитываются автоматически, в зависимости от вашего
    города.
  </li>
  <li>Выберите удобный для вас способ доставки и переходите к заполнению адреса и комментария к заказу, если
    есть необходимость.
  </li>
  <li>Ниже укажите удобный для вас способ оплаты:
    <ul>
      <li>оплата наличными – возможна только при самовывозе или доставке курьером (оплата при получении).</li>
      <li>оплата по счету в банке – возможно при любом варианте доставки, мы вышлем вам на почту счет на оплату,
        который можно будет оплатить в любом банке РФ.
      </li>
      <li>оплата банковской картой (<a href="/pay-rules" target="_blank">правила оплаты</a>).
      </li>
      <li>покупка в кредит, не выходя из дома.</li>
    </ul>
  </li>
  <li>Далее вы можете использовать бонусные баллы и промо-код (если имеется).</li>
  <li>Нажмите кнопку «Подтверждаю заказ».
    <p style="margin: 10px 0;font-size: 12px;">Нажимая кнопку "Подтверждаю заказ", вы подтверждаете, что
      ознакомлены и согласны с <a href="/warranty" target="_blank">условиями Гарантии</a> и
      <a href="/public-offer" target="_blank">Публичной оферты</a>. Подтверждаете, что даете согласие на обработку
      предоставленных данных, содержащихся в Форме заказа на условиях, изложенных в
      <a href="/privacy-policy" target="_blank">Политике конфиденциальности</a>.</p>
  </li>
  <li>После этого сайт сообщит вам индивидуальный номер заказа, а на почту придет подтверждение. Пожалуйста,
    дождитесь звонка менеджера для подтверждения заказа и уточнения деталей доставки.
  </li>
</ol>
`;
---

<Layout title="Как купить" page="how-to-buy" isUser={true}>
  <PageInfo content={content} title={title}/>
</Layout>
