---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Как купить" page="how-to-buy" isUser={true}>
  <link rel="stylesheet" href="./pages/how-to-buy.css"/>
  <div class="page-wrapper">
    how-to-buy
  </div>
</Layout>
