---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <section class="section">
    index
  </section>
</Layout>
