---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';

const pageTitle: string = 'Home';
---

<Layout title={pageTitle} className="index">
  <link rel="stylesheet" href="./pages/index.css"/>
  <section class="home">
    <Container>
      <div class="home-wrapper">

      </div>
    </Container>
  </section>
</Layout>
