---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
---

<Layout title="Home" className="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <section class="home">
    <Container>
      <div class="home-wrapper">

      </div>
    </Container>
  </section>
  <div class="bottom-decoration page-decoration" aria-hidden="true"></div>
</Layout>
