---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Главная" page="index" isUser={false}>
  <link rel="stylesheet" href="./pages/index.css"/>
  <div class="wrapper">
    <section class="util-tile section-info">
      <h1 class="h1">AirSoft-RUS.ru — интернет магазин для страйкболиста №1 в России</h1>
      <p>
        В продаже широкий выбор страйкбольного оружия (автоматы АК и М-серий, винтовки, пулеметы, пистолеты, дробовики,
        гранатометы), снаряжения и экипировки для игр. Ассортимент от дешевых приводов для новичков до премиальных
        моделей для опытных страйкеров.
      </p>
      <p>
        Вы можете купить страйкбольные товары от 30+ брендов: Cyma, LCT, East Crane,
        Tokyo Marui, KWC, WE, Acrturus и др. Постоянное обновление ассортимента. Порадуйте себя новой покупкой или
        сделайте подарок любителю страйкбола, вручив подарочный сертификат от "синего магазина" (доступны номиналы от
        1000 до 50000 рублей).
      </p>
      <p>
        AirSoft-RUS — это не только интернет-магазин. Наши филиалы открыты в Москве,
        Екатеринбурге, Санкт-Петербурге, Краснодаре и Нижнем Новгороде. Будем рады видеть вас в шоу-румах: там можно
        лично посмотреть все наши товары для страйкбола и проконсультироваться у опытных продавцов.
      </p>
      <p>
        Оплатить заказ можно
        онлайн (с помощью банковской карты) или при получении товара (наличными и безналичным методом). Доступна
        рассрочка и покупка в кредит.
      </p>
      <p>
        Доставку снаряжения можно заказать курьером или забрать самостоятельно: из наших
        магазинов или с широкой сети пунктов выдачи партнеров. Действует бесплатная доставка в 11 городов России.
      </p>
    </section>

    <section class="section-banners">
      banners
    </section>

    <section class="section-products">
      <div>
        <h2 class="title">Распродажа</h2>

        <a href="/catalog" class="button">
          <span>Показать всё</span>
        </a>

      </div>
      <div>
        <h2 class="title">Новинки</h2>

        <a href="/catalog" class="button">
          <span>Показать всё</span>
        </a>

      </div>
      <div>
        <h2 class="title">Хиты продаж</h2>

        <a href="/catalog" class="button">
          <span>Показать всё</span>
        </a>

      </div>
      <div>
        <h2 class="title">Рекомендуем</h2>

        <a href="/catalog" class="button">
          <span>Показать всё</span>
        </a>

      </div>
    </section>

    <section class="util-tile section-news">
      <div class="section-header">
        <h2 class="title">Актуальные новости</h2>
        <a href="/news" class="link">смотреть все</a>
      </div>

    </section>

    <section class="util-tile section-reviews">
      <div class="section-header">
        <h2 class="title">Последние обзоры</h2>
        <a href="/reviews" class="link">смотреть все</a>
      </div>
    </section>

    <section class="util-tile section-brands">
      <div class="section-header">
        <h2 class="title">Популярные бренды</h2>
        <a href="/brands" class="link">смотреть все</a>
      </div>

    </section>
  </div>
</Layout>
