---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';

const title: string = 'В&nbsp;кредит / В&nbsp;рассрочку';
const link: string = '/installment';
---

<Layout title="В рассрочку" page="installment" isUser={true}>
  <link rel="stylesheet" href="./pages/installment.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section section-header">
      Процесс оформления покупки в кредит или рассрочку:
    </section>

    <section class="section section-rows">

      <div class="buy-item">
        <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/1.png" alt=""/>
        <span>Наполните корзину товарами</span>
      </div>
      <div class="buy-item">
        <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/2.png" alt=""/>
        <span>Выберите банк</span>
      </div>

      <div class="row">
        <div class="row-item l">
          <h4><span>Кредит/рассрочка без процентов*</span></h4>
          <img src="https://airsoft-rus.ru/how-to-buy/sber-pokupay.svg" alt="Сбербанк" class="bank bank-sber"/>
          <div class="buy-items">
            <div class="buy-item">
              <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/3.png" alt=""/>
              <span>Заполните заявку в Сбербанк Онлайн и получите решение за несколько минут
                (только для клиентов банка)</span>
            </div>
            <div class="buy-item">
              <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/4.png" alt=""/>
              <span>После одобрения согласитесь с условиями</span>
            </div>
          </div>
        </div>
        <div class="row-item r">
          <h4><span>Рассрочка без процентов*</span></h4>
          <img src="https://airsoft-rus.ru/how-to-buy/tinkoff.svg" alt="Тинькофф" class="bank bank-tinkoff"/>
          <div class="buy-items">
            <div class="buy-item">
              <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/3.png" alt=""/>
              <span>Заполните онлайн-заявку и получите решение в течении 1-2 минут</span>
            </div>
            <div class="buy-item">
              <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/4.png" alt=""/>
              <span>Подпишите кредитный договор с представителем банка в удобном для Вас месте или по SMS
                (только для клиентов банка)</span>
            </div>
          </div>
        </div>
      </div>

      <div class="buy-item">
        <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/5.png" alt=""/>
        <span>Банк перечисляет оплату и мы отправляем Ваш заказ</span>
      </div>
      <div class="buy-item">
        <img src="https://airsoft-rus.ru/bitrix/templates/airsoft_rus_mobile/img/6.png" alt=""/>
        <span>Пользуйтесь покупкой и погашайте ежемесячный платеж без переплат</span>
      </div>
    </section>

    <section class="section section-text">
      <p>* Отсутствие переплаты за товар достигается путем предоставления магазином скидки на заказы, оформляемые в
        кредит.</p>
      <p>По вопросам, связанным с выдачей кредита в:</p>
      <ul>
        <li>АО «Тинькофф Банк»: <strong>8 (800) 555-08-08</strong> (звонок по России бесплатный и круглосуточный);
        </li>
        <li>ПАО Сбербанк: <strong>900</strong> (для бесплатных звонков с мобильных на территории РФ);</li>
        <li><strong>+7 495 500-55-50</strong> (для звонков из любой точки мира).</li>
      </ul>
    </section>

    <section class="section section-footer">
      <a href="/" class="link">Продолжить покупки</a>
    </section>
  </div>
</Layout>
