---
import Layout from '../layouts/Layout.astro';
---

<Layout title="В рассрочку" page="installment" isUser={true}>
  <link rel="stylesheet" href="./pages/installment.css"/>
  <div class="page-wrapper">
    installment
  </div>
</Layout>
