---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Новость" page="news-detail" isUser={true}>
  <link rel="stylesheet" href="./pages/news-detail.css"/>
  <div class="page-wrapper">
    news-detail
  </div>
</Layout>
