---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Оформление заказа" page="order" isUser={true}>
  <link rel="stylesheet" href="./pages/order.css"/>
  <div class="page-wrapper">
    order
  </div>
</Layout>
