---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Партнерам" page="partners" isUser={true}>
  <link rel="stylesheet" href="./pages/partners.css"/>
  <div class="page-wrapper">
    partners
  </div>
</Layout>
