---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Оплата" page="payments" isUser={true}>
  <link rel="stylesheet" href="./pages/payments.css"/>
  <div class="page-wrapper">
    payments
  </div>
</Layout>
