---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';

const title: string = 'Оплата';
const link: string = '/payments';
---

<Layout title="Оплата" page="payments" isUser={true}>
  <link rel="stylesheet" href="./pages/payments.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section">
      payments
    </section>
  </div>
</Layout>
