---
import Layout from '../layouts/Layout.astro';
---

<Layout title="В подарок" page="present" isUser={true}>
  <link rel="stylesheet" href="./pages/present.css"/>
  <div class="page-wrapper">
    present
  </div>
</Layout>
