---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';
---

<Layout title="В подарок" page="present" isUser={true}>
  <link rel="stylesheet" href="./pages/present.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section']} isHidden={false}>
      <h1 class="title">Подарок, который хочет каждый. Электронный сертификат AirSoft-RUS</h1>

      <p class="text">
        1. Заполните форму на покупку сертификата. Выберите номинал подарка и напишите несколько приятных слов
        получателю. Пожалуйста, не указывайте корпоративную почту, так как они могут блокировать входящие сообщения.
      </p>
      <p class="text">
        2. После нажатия на кнопку «Заказать» вы перейдете на форму безопасной оплаты сертификата.
      </p>
      <p class="text">
        3. После оплаты вам на почту придет подтверждение о покупке, а получатель сертификата в то же время получит
        поздравительное письмо с кодом на скидку, равную сумме подарочного сертификата. Им можно воспользоваться как на
        нашем сайте, так и в розничном магазине.
      </p>

      <form class="form" data-form-present>

        <button type="submit" class="util-button primary button">
          <span>
            Перейти к оплате
          </span>
        </button>
      </form>
    </UtilTile>
  </div>
  <script src="./pages/present.js" is:inline async></script>
</Layout>
