---
import Layout from '../layouts/Layout.astro';
import UtilTile from '../components/UtilTile.astro';
import InputTel from '../components/InputTel.astro';
import InputSlider from '../components/InputSlider.astro';
import InputTextarea from '../components/InputTextarea.astro';
---

<Layout title="В подарок" page="present" isUser={true}>
  <link rel="stylesheet" href="./pages/present.css"/>
  <div class="page-wrapper">
    <UtilTile tag="section" classList={['section']}>
      <h1 class="title">Подарок, который хочет каждый. Электронный сертификат AirSoft-RUS</h1>

      <p class="text">
        1. Заполните форму на покупку сертификата. Выберите номинал подарка и напишите несколько приятных слов
        получателю. Пожалуйста, не указывайте корпоративную почту, так как они могут блокировать входящие сообщения.
      </p>
      <p class="text">
        2. После нажатия на кнопку «Заказать» вы перейдете на форму безопасной оплаты сертификата.
      </p>
      <p class="text">
        3. После оплаты вам на почту придет подтверждение о покупке, а получатель сертификата в то же время получит
        поздравительное письмо с кодом на скидку, равную сумме подарочного сертификата. Им можно воспользоваться как на
        нашем сайте, так и в розничном магазине.
      </p>

      <form class="form-present" action="/api-present" novalidate data-form-present>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="sender-name">Имя отправителя:</label>
          <input type="text" name="sender-name" id="sender-name" maxlength="256"
                 autocorrect="off" spellcheck="false"
                 class="util-form-field large high input"/>
        </div>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="sender-email">E-mail отправителя:</label>
          <input type="email" name="sender-email" id="sender-email" maxlength="256"
                 inputmode="email" autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false"
                 class="util-form-field large high input"/>
        </div>

        <InputTel label="Телефон отправителя:" name="sender-phone" classList={['large', 'high']}/>

        <div class="util-form-fieldset fieldset">
          <label class="label" for="recipient-name">Имя получателя:</label>
          <input type="text" name="recipient-name" id="recipient-name" maxlength="256"
                 autocorrect="off" spellcheck="false"
                 class="util-form-field large high input"/>
        </div>
        <div class="util-form-fieldset fieldset">
          <label class="label" for="recipient-email">E-mail получателя:</label>
          <input type="email" name="recipient-email" id="recipient-email" maxlength="256"
                 inputmode="email" autocomplete="email" autocorrect="off" autocapitalize="off" spellcheck="false"
                 class="util-form-field large high input"/>
        </div>

        <InputTel label="Телефон получателя:" name="recipient-phone" classList={['large', 'high']}/>

        <InputSlider label="Сумма сертификата" name="present-sum"/>
        <InputTextarea label="Текст поздравления:" name="present-text" classList={['large']}
                       placeholder="Пожелания..."/>

        <button type="submit" class="util-button primary">
          <span>Перейти к оплате</span>
        </button>
      </form>
    </UtilTile>
  </div>
  <script src="./pages/present.js" is:inline async></script>
</Layout>
