---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Профиль" page="profile" isUser={true}>
  <link rel="stylesheet" href="./pages/profile.css"/>
  <section class="section">
    profile
  </section>
</Layout>
