---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Профиль" page="profile" isUser={true}>
  <link rel="stylesheet" href="./pages/profile.css"/>
  <section class="util-header main-header">
    <h1 class="title">Личный кабинет</h1>
    <button type="button" class="button" data-button-logout-to="/">
      <span>Выход</span>
    </button>
  </section>
  <section class="util-tile content">
    <div class="info">
      <span class="title">+7 (963) 040-75-12</span>
    </div>
    <button type="button" class="button" data-popup-open="profile-tel">
      <span>Изменить</span>
    </button>
  </section>
  <section class="util-tile content">
    <div class="info">
      <span class="title">Иванов Иван Иванович</span>
      <span class="text">airsoftrus@gmail.com</span>
    </div>
    <button type="button" class="button" data-popup-open="profile-name">
      <span>Изменить</span>
    </button>
  </section>
  <section class="util-tile content-balance">
    Balance
  </section>
  <section class="util-tile content-history">
    History
  </section>
  <script src="./pages/profile.js" is:inline async></script>
</Layout>
