---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Профиль" page="profile" isUser={true}>
  <link rel="stylesheet" href="./pages/profile.css"/>
  <section class="content-header main-header">
    <h1 class="title">Личный кабинет</h1>
    <button type="button" class="button" data-button-logout-to="/">
      <span>Выход</span>
    </button>
  </section>
  <section class="content-tile content-tel">
    <span class="text">+7 (963) 040-75-12</span>
    <button type="button" class="button" data-popup-open="change-tel">
      <span>Изменить</span>
    </button>
  </section>
  <section class="content-tile content-name">
    Name
  </section>
  <section class="content-tile content-balance">
    Balance
  </section>
  <section class="content-tile content-history">
    History
  </section>
  <script src="./pages/profile.js" is:inline async></script>
</Layout>
