---
import Layout from '../layouts/Layout.astro';
import UtilHeader from '../components/UtilHeader.astro';

const title: string = 'Обзоры';
const link: string = '/reviews';
---

<Layout title="Обзоры" page="reviews" isUser={true}>
  <link rel="stylesheet" href="./pages/reviews.css"/>
  <div class="page-wrapper">
    <UtilHeader type="page" title={title}/>

    <section class="section">
      reviews
    </section>
  </div>
</Layout>
