---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Обзоры" page="reviews" isUser={true}>
  <link rel="stylesheet" href="./pages/reviews.css"/>
  <section class="section">
    reviews
  </section>
</Layout>
