---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Поиск" page="search" isUser={true}>
  <link rel="stylesheet" href="./pages/search.css"/>
  <section class="section">
    search
  </section>
</Layout>
