---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Поставщикам" page="suppliers" isUser={true}>
  <link rel="stylesheet" href="./pages/suppliers.css"/>
  <section class="section">
    suppliers
  </section>
</Layout>
