---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Гарантия возврат" page="warranty" isUser={true}>
  <link rel="stylesheet" href="./pages/warranty.css"/>
  <div class="page-wrapper">
    warranty
  </div>
</Layout>
