---
import Layout from '../layouts/Layout.astro';
import PageInfo from '../components/PageInfo.astro';

const title: string = 'Гарантия и обмен';
const content: string = `
<p>В случае возникновения необходимости возврата/обмена Товара, гарантийного случая будем рады Вам помочь! Напишите 
на e-mail: <a href="mailto:info@airsoft-rus.ru">info@airsoft-rus.ru</a>, указав номер заказа и причину возврата.</p>

<p><strong>1. Обмен и возврат Товара надлежащего качества</strong></p>
<p>В соответствии с законом РФ «О защите прав потребителей» Покупатель вправе отказаться от Товара в любое время до 
его передачи, а после передачи Товара - в течение 7 (семи) календарных дней.</p>
<p>Возврат Товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, 
а также документ, подтверждающий факт и условия покупки указанного Товара.</p>
<p>В случае отказа от Товара надлежащего качества, Покупатель должен возместить Продавцу расходы за доставку Товара 
до покупателя. Стоимость возврата заказа от Покупателя к Продавцу осуществляется за счет Покупателя.</p>

<p><strong>2. Обмен и возврат Товара ненадлежащего качества</strong></p>
<p>В соответствии с законом РФ «О защите прав потребителей» в случае обнаружения недостатков Товара Покупатель имеет 
право в течение 7 (семи) календарных дней с момента получения заказа:</p>
<ul>
<li>Потребовать замены Товара на идентичный или аналогичный Товар.</li>
<li>Потребовать уменьшение стоимости Товара.</li>
<li>Устранить недостатки самостоятельно по согласованию с Продавцом.</li>
<li>Вернуть Товар Продавцу.</li>
<li>Отказаться от исполнения договора и потребовать возврата уплаченной за Товар суммы. По требованию продавца и за 
его счет покупатель должен возвратить Товар с недостатками.</li>
</ul>

<p>В случае предъявления требования о замене, возврате Продавец обязан принять решение о замене/возврате в течение 
7 (семи) календарных дней со дня получения Товара от Покупателя, а при необходимости дополнительной проверки качества 
такого Товара Продавцом — в течение 20 (двадцати) календарных дней.</p>
<p>В случае возникновения спора о причинах появления недостатков Товара Продавец обязан провести экспертизу Товара 
за свой счет.</p>
<p>Экспертиза Товара проводится в сроки, установленные статьями 20, 21 и 22 Закона «О защите прав потребителей». 
Покупатель вправе присутствовать при проведении экспертизы Товара и в случае несогласия с ее результатами оспорить 
заключение такой экспертизы в судебном порядке.</p>
<p>Если в результате экспертизы Товара установлено, что его недостатки возникли вследствие обстоятельств, за которые 
не отвечает Продавец, то Покупатель обязан возместить продавцу расходы на проведение экспертизы, а также связанные 
с ее проведением расходы на хранение и транспортировку Товара.</p>

<p><strong>3. Возврат денежных средств.</strong></p>
<p>3.1. При отказе Покупателя от Товара надлежащего качества Продавец должен возвратить ему денежную сумму, 
уплаченную Покупателем по договору, за исключением расходов Продавца на доставку:</p>
<ul>
<li>Заказа от Продавца к Покупателю.</li>
<li>Возвращаемого Товара от Покупателя к Продавцу.</li>
</ul>
<p>Возврат денежных средств осуществляется в течение 10 (десяти) календарных дней с момента получения Товара 
надлежащего качества, а также требования о возврате.</p>
<p>3.2. При отказе Покупателя от Товара ненадлежащего качества Продавец должен возвратить ему денежную сумму, 
уплаченную Покупателем по договору. Возврат денежных средств осуществляется в течение 10 (десяти) календарных 
дней с момента получения Товара надлежащего качества, а также требования о возврате. Возврат осуществляется после 
достижения согласия между Продавцом и Покупателем о том, что Товар был отправлен Покупателю с дефектом.</p>

<p><strong>4. Гарантия</strong></p>
<p>4.1. Все товары проходят предпродажную подготовку, а также полное тестирование работоспособности и проверку 
качества, после чего снабжаются защитными лентами и пломбами.</p>
<p>4.2. Гарантийный срок на все товары – 14 (четырнадцать) календарных дней с момента получения заказа.</p>
<p>4.3. Обращаем ваше внимание, что все работы по замене внутренних и внешних частей страйкбольного оружия должны 
осуществляться только опытным и квалифицированным персоналом. Приобретение запчастей подразумевает наличие необходимых 
навыков и уверенных знаний совместимости деталей у Покупателя.</p>
<p>Продавец не несет ответственности за некорректно установленные части и вызванные этим поломки.</p>
<p>4.4. Не разрешается разбирать страйкбольное оружие (полностью или отдельные части корпуса) в течение гарантийного 
срока, т.к. это аннулирует гарантию.</p>
<p>4.5. Защитные характеристики очков, указываемые в описании, распространяются только на линзу и не распространяются 
на оправу, дужку или иные части.</p>
<p>4.6. Защитные характеристики снаряжения не гарантируют 100% защиты от попадания шаров и возможности получения травм. 
Товар считается исполнившим свою прямую функцию по защите, если он как минимум замедлил движение шара (поглотил часть 
его кинетической энергии) и/или смягчил его попадание, независимо от деформаций (разрушений), полученных Товаром</p>
<p>4.7. Гарантийное обслуживание производится в сервисном центре нашего интернет-магазина.</p>
<p>4.8. Начальная скорость шара, указанная на сайте, это показатель, полученный пробным отстреливанием одной единицы 
каждой модели автомата. Магазин не гарантирует скорость вылета шара, указанную на сайте, так как это не гарантирует 
изготовитель продукции. Если вам нужно знать заранее данный показатель - просьба указать это в комментарии к заказу.</p>
`;
---

<Layout title="Гарантия и обмен" page="warranty" isUser={true}>
  <PageInfo content={content} title={title}/>
</Layout>
