.order-delivery-3 {
  margin-top: 1rem;

  .h3 {
    margin: 0;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.375rem;
    color: #27282B;
  }

  .select-wrapper {
    margin-top: .5rem;
    margin-bottom: .125rem;
    position: relative;

    .select {
      padding-left: 1rem;
      padding-right: 2rem;
      appearance: none;
      cursor: pointer;
    }

    .svg {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      pointer-events: none;
    }
  }
}
