---
import Container from './Container.astro';

const {isUser = true} = Astro.props;
---

<footer class="footer">
  <link rel="stylesheet" href="./components/footer.css"/>
  <Container className="edge">
    <div class="footer-wrapper">
      <button type="button" class="button" data-popup-open="menu-footer">
        <span class="icon">
          <svg width="28" height="19" viewBox="0 0 28 19" xmlns="http://www.w3.org/2000/svg">
            <path fill="#262626"
                  d="M0.707031 1.02148C0.707031 0.745342 0.930889 0.521484 1.20703 0.521484H26.6827C26.9589 0.521484 27.1827 0.745342 27.1827 1.02148V3.11445C27.1827 3.39059 26.9589 3.61445 26.6827 3.61445H1.20703C0.930889 3.61445 0.707031 3.39059 0.707031 3.11445V1.02148Z"/>
            <path fill="#262626"
                  d="M0.707031 8.26156C0.707031 7.98542 0.930889 7.76156 1.20703 7.76156H26.6827C26.9589 7.76156 27.1827 7.98542 27.1827 8.26156V10.3545C27.1827 10.6307 26.9589 10.8545 26.6827 10.8545H1.20703C0.930889 10.8545 0.707031 10.6307 0.707031 10.3545V8.26156Z"/>
            <path fill="#262626"
                  d="M0.707031 15.5011C0.707031 15.225 0.930889 15.0011 1.20703 15.0011H26.6827C26.9589 15.0011 27.1827 15.225 27.1827 15.5011V17.5941C27.1827 17.8702 26.9589 18.0941 26.6827 18.0941H1.20703C0.930889 18.0941 0.707031 17.8702 0.707031 17.5941V15.5011Z"/>
          </svg>
        </span>
        <span class="title">Меню</span>
      </button>

      {isUser ?
        <a href="/profile" class="button">
          <span class="icon">
            <svg width="24" height="23" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
              <path stroke="#009AE3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                    d="M18.5673 19.7043C17.0007 18.0519 14.7247 17.0121 12.1914 17.0121C9.65816 17.0121 7.38187 18.0519 5.81532 19.7043M12.1914 21.6293C6.11627 21.6293 1.19141 16.9781 1.19141 11.2405C1.19141 5.50283 6.11627 0.851562 12.1914 0.851562C18.2665 0.851562 23.1914 5.50283 23.1914 11.2405C23.1914 16.9781 18.2665 21.6293 12.1914 21.6293ZM12.1914 13.5491C10.1664 13.5491 8.52474 11.9987 8.52474 10.0861C8.52474 8.17359 10.1664 6.62317 12.1914 6.62317C14.2165 6.62317 15.8581 8.17359 15.8581 10.0861C15.8581 11.9987 14.2165 13.5491 12.1914 13.5491Z"/>
            </svg>
          </span>
          <span class="title">Профиль</span>
        </a> :
        <button type="button" class="button" data-popup-open="login">
          <span class="icon">
            <svg width="24" height="23" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
              <path stroke="#009AE3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                    d="M18.5673 19.7043C17.0007 18.0519 14.7247 17.0121 12.1914 17.0121C9.65816 17.0121 7.38187 18.0519 5.81532 19.7043M12.1914 21.6293C6.11627 21.6293 1.19141 16.9781 1.19141 11.2405C1.19141 5.50283 6.11627 0.851562 12.1914 0.851562C18.2665 0.851562 23.1914 5.50283 23.1914 11.2405C23.1914 16.9781 18.2665 21.6293 12.1914 21.6293ZM12.1914 13.5491C10.1664 13.5491 8.52474 11.9987 8.52474 10.0861C8.52474 8.17359 10.1664 6.62317 12.1914 6.62317C14.2165 6.62317 15.8581 8.17359 15.8581 10.0861C15.8581 11.9987 14.2165 13.5491 12.1914 13.5491Z"/>
            </svg>
          </span>
          <span class="title">Войти</span>
        </button>
      }

      <a href="/cart" class="button">
        <span class="icon">
          <svg width="24" height="25" viewBox="0 0 24 25" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#009AE3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                d="M18.3289 18.9701C16.9529 18.9701 15.8373 20.0856 15.8373 21.4617C15.8373 22.8377 16.9529 23.9533 18.3289 23.9533C19.705 23.9533 20.8205 22.8377 20.8205 21.4617C20.8205 20.0856 19.705 18.9701 18.3289 18.9701ZM18.3289 18.9701H8.72871C8.15432 18.9701 7.8666 18.9701 7.63012 18.8679C7.42151 18.7777 7.24052 18.6326 7.10866 18.4475C6.96087 18.24 6.90142 17.9626 6.78376 17.4135L3.71752 3.10431C3.59712 2.54244 3.53611 2.26181 3.3866 2.05195C3.25474 1.86686 3.07379 1.72118 2.86518 1.63102C2.62865 1.52881 2.34253 1.52881 1.7679 1.52881H0.887695M4.62511 5.26622H20.6626C21.5618 5.26622 22.0109 5.26622 22.3127 5.45354C22.5771 5.61761 22.7706 5.87494 22.855 6.17441C22.9513 6.5163 22.8276 6.94801 22.5784 7.81196L20.8534 13.7918C20.7044 14.3084 20.6299 14.5662 20.4787 14.7579C20.3452 14.927 20.1693 15.0595 19.9697 15.1408C19.7443 15.2326 19.4765 15.2326 18.942 15.2326H6.78093M7.11671 23.9533C5.74064 23.9533 4.62511 22.8377 4.62511 21.4617C4.62511 20.0856 5.74064 18.9701 7.11671 18.9701C8.49279 18.9701 9.60832 20.0856 9.60832 21.4617C9.60832 22.8377 8.49279 23.9533 7.11671 23.9533Z"/>
          </svg>
          <span class="number">0</span>
        </span>
        <span class="title">Корзина</span>
      </a>

      <a href="/favourite" class="button">
        <span class="icon">
          <svg width="24" height="21" viewBox="0 0 24 21" xmlns="http://www.w3.org/2000/svg">
          <path stroke="#009AE3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                d="M12.0078 4.72109C9.56337 -0.657052 1.00781 -0.0842307 1.00781 6.78966C1.00781 13.6635 12.0078 19.3919 12.0078 19.3919C12.0078 19.3919 23.0078 13.6635 23.0078 6.78966C23.0078 -0.0842307 14.4523 -0.657052 12.0078 4.72109Z"/>
          </svg>
        </span>
        <span class="title">Избранное</span>
      </a>

      <a href="https://t.me/airsoftrus2_bot" target="_blank" class="button">
        <span class="icon">
          <svg width="24" height="23" viewBox="0 0 24 23" xmlns="http://www.w3.org/2000/svg">
            <path stroke="#009AE3" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"
                  d="M10.5903 12.8397L16.5838 7.18308M22.7149 3.73098L17.6558 19.2488C17.2024 20.6395 16.9755 21.3352 16.5845 21.5657C16.2453 21.7658 15.8253 21.7992 15.4559 21.6545C15.03 21.4877 14.6842 20.8363 13.9946 19.5345L10.7902 13.486C10.6808 13.2794 10.626 13.1766 10.5529 13.087C10.488 13.0076 10.4131 12.9361 10.329 12.8748C10.2363 12.8074 10.1291 12.7568 9.92 12.6582L3.49648 9.62697C2.11712 8.97606 1.42738 8.6503 1.25064 8.24829C1.09736 7.89965 1.13231 7.50294 1.34424 7.18283C1.58861 6.81371 2.32566 6.59927 3.79963 6.17124L20.2418 1.39652C21.4006 1.06002 21.9802 0.891898 22.3716 1.02751C22.7125 1.14564 22.9813 1.39905 23.1065 1.72082C23.2501 2.09004 23.0718 2.63681 22.7156 3.72937L22.7149 3.73098Z"/>
          </svg>
        </span>
        <span class="title">Телеграм</span>
      </a>
    </div>
  </Container>
</footer>
