---
const results: { link: string; img: string, title: string, oldPrice: number, price: number }[] = [
  {
    link: '/catalog-detail',
    img: './content/header-search.png',
    title: 'Автомат Суmа AKC-74Y CM035',
    oldPrice: 26390,
    price: 26390,
  },
  {
    link: '/catalog-detail',
    img: './content/header-search.png',
    title: 'Автомат Суmа AKC-74Y CM035',
    oldPrice: 26390,
    price: 16990,
  },
  {
    link: '/catalog-detail',
    img: './content/header-search.png',
    title: 'Автомат Суmа AKC-74Y CM035',
    oldPrice: 26390,
    price: 16990,
  },
  {
    link: '/catalog-detail',
    img: './content/header-search.png',
    title: 'Автомат Суmа AKC-74Y CM035',
    oldPrice: 26390,
    price: 16990,
  },
  {
    link: '/catalog-detail',
    img: './content/header-search.png',
    title: 'Автомат Суmа AKC-74Y CM035',
    oldPrice: 26390,
    price: 16990,
  },
];
---

<form class="header-search" role="search" action="/search" novalidate data-form-search>
  <input type="search" name="search" id="search" class="input" maxlength="256"
         placeholder="Поиск по каталогу" aria-label="Поиск по каталогу"/>
  <button type="submit" class="button" title="Найти">
    <svg width="18" height="18" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
      <path stroke="#009AE3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            d="M13.0215 13.0801L19.0215 19.0801M8.02148 15.0801C4.15549 15.0801 1.02148 11.9461 1.02148 8.08008C1.02148 4.21409 4.15549 1.08008 8.02148 1.08008C11.8875 1.08008 15.0215 4.21409 15.0215 8.08008C15.0215 11.9461 11.8875 15.0801 8.02148 15.0801Z"/>
    </svg>
  </button>
</form>
<div class="header-search-popup" hidden="hidden">
  <div class="header-search-results-wrapper">
    <div class="header-search-results" hidden="hidden">
      {results.map((result: { link: string; img: string, title: string, oldPrice: number, price: number }) => (
        <a href={result.link} class="result">
          <img src={result.img} alt={result.title} class="img"/>
          <div>
            <div>
              <span class="title">{result.title}</span>
            </div>
            <div>
              <span class="text">Цена</span>
              {result.oldPrice === result.price ? (
                <span class="price">{result.price.toLocaleString('ru-RU')} р.</span>
              ) : (
                <span class="price-old">{result.oldPrice.toLocaleString('ru-RU')} р.</span>
                <span class="price-new">{result.price.toLocaleString('ru-RU')} р.</span>
              )}
            </div>
          </div>
        </a>
      ))}
    </div>
  </div>
  <button type="button" class="primary-button button" data-submit-form-search>
    <span>Показать все результаты</span>
  </button>
</div>
<div class="header-search-fake">
  <link rel="stylesheet" href="./components/header-search.css"/>
  <script src="./components/header-search.js" is:inline async></script>
</div>
