---

---

<div class="header-menu">
  <link rel="stylesheet" href="./components/header-menu.css"/>
  <button type="button" class="button button-menu-header">
    <svg class="svg" width="27" height="20" viewBox="0 0 27 20" xmlns="http://www.w3.org/2000/svg">
      <path fill="currentColor"
            d="M0 0.710938C0 0.434795 0.223858 0.210938 0.5 0.210938H26.3235C26.5997 0.210938 26.8235 0.434795 26.8235 0.710938V3.05514C26.8235 3.33128 26.5997 3.55514 26.3235 3.55514H0.5C0.223857 3.55514 0 3.33128 0 3.05514V0.710938Z"/>
      <path fill="currentColor"
            d="M0 8.53911C0 8.26297 0.223858 8.03911 0.5 8.03911H26.3235C26.5997 8.03911 26.8235 8.26297 26.8235 8.53911V10.8833C26.8235 11.1595 26.5997 11.3833 26.3235 11.3833H0.5C0.223857 11.3833 0 11.1595 0 10.8833V8.53911Z"/>
      <path fill="currentColor"
            d="M0 16.3667C0 16.0906 0.223858 15.8667 0.5 15.8667H26.3235C26.5997 15.8667 26.8235 16.0906 26.8235 16.3667V18.7109C26.8235 18.9871 26.5997 19.2109 26.3235 19.2109H0.5C0.223857 19.2109 0 18.9871 0 18.7109V16.3667Z"/>
    </svg>
    <img class="img" width="43" height="43" src="./images/header-menu.png" alt=""/>
  </button>
  <script src="./components/header-menu.js" is:inline></script>
</div>
