---
import Container from './Container.astro';
---

<header class="header">
  <link rel="stylesheet" href="./components/header.css"/>
  <Container>
    <div class="header-wrapper">

    </div>
  </Container>
</header>
