---

---

<form class="header-search" role="search" action="/search" novalidate data-form-search>
  <link rel="stylesheet" href="./components/header-search.css"/>
  <input type="search" name="search" id="search" class="input" maxlength="256"
         placeholder="Поиск по каталогу" aria-label="Поиск по каталогу"/>
  <button type="submit" class="button">
    <img class="img" width="37" height="36" src="./images/header-search.png" alt=""/>
  </button>
  <script src="./components/header-search.js" is:inline async></script>
</form>
