---
import type {IBanner} from '../interfaces';

const links: IBanner[] = [
  {link: '/catalog-section', img: './images/menu-header/1.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/2.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/1.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/2.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/1.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/2.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/1.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/2.png', title: 'Каталог'},
  {link: '/catalog-section', img: './images/menu-header/1.png', title: 'Каталог'},
];
---

<link rel="stylesheet" href="./components/nav-catalog.css"/>
<nav class="nav-catalog">
  {links.map(({img, link, title}: IBanner) => (
    <a href={link} class="tile">
      <img src={img} alt={title} class="cover" decoding="async" loading="lazy"/>
    </a>
  ))}
</nav>
