---
import UtilTile from '../components/UtilTile.astro';
import TileOrderGrid from '../components/TileOrderGrid.astro';
import TileOrderGridEdit from '../components/TileOrderGridEdit.astro';

import type {IOrderPayment} from '../interfaces.ts';

interface Props {
  payments: IOrderPayment[];
  paymentId: number | null;
}

const {payments, paymentId}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-payment']}>
  <h2 class="h2">Выберите способ оплаты</h2>

  <form action="/api-order-payment" novalidate data-form-order-payment hidden
        data-payments={JSON.stringify(payments)} data-payment-id={paymentId}>
    <div class="form-grid">
      <TileOrderGridEdit type="payment"/>
    </div>
    <button type="submit" hidden>Применить</button>
  </form>

  <div data-tile-sample="payment" hidden>
    <TileOrderGrid type="payment" id={0} title="" img="" imgChecked="" info="" isChecked={false}>
      <div class="payment-text">Будет начислено:</div>
      <div class="payment-bonus"></div>
    </TileOrderGrid>
  </div>

  <script src="./components/order-payment.js" is:inline async></script>
</UtilTile>
