---
import UtilTile from '../components/UtilTile.astro';
import TileOrderGrid from '../components/TileOrderGrid.astro';
import TileOrderGridEdit from '../components/TileOrderGridEdit.astro';
import OrderDeliveryPickup from '../components/deliveries/pickup/OrderDeliveryPickup.astro';
import OrderDelivery3 from '../components/deliveries/3/OrderDelivery3.astro';
import OrderDelivery4 from '../components/deliveries/4/OrderDelivery4.astro';

import type {IOrderDelivery} from '../interfaces.ts';

interface Props {
  deliveries: IOrderDelivery[];
  deliveryId: number | null;
}

const {deliveries, deliveryId}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-delivery']}>
  <h2 class="h2">Выберите способ доставки</h2>

  <form action="/api-order-delivery" novalidate data-form-order-delivery hidden
        data-deliveries={JSON.stringify(deliveries)} data-delivery-id={deliveryId}>
    <div class="form-grid">
      <TileOrderGridEdit type="delivery"/>
    </div>
    <button type="submit" hidden>Применить</button>
  </form>

  <div data-tile-sample="delivery" hidden>
    <TileOrderGrid type="delivery" id={0} title="" img="" imgChecked="" info="" isChecked={false}>
      <div class="delivery-text">
        <div class="l">Стоимость:</div>
        <div class="r" data-price></div>
        <div class="l">Кол. дней:</div>
        <div class="r" data-days></div>
      </div>
    </TileOrderGrid>
  </div>

  <OrderDeliveryPickup/>
  <OrderDelivery3/>
  <OrderDelivery4/>

  <script src="./components/order-delivery.js" is:inline async></script>
</UtilTile>
