---
import UtilTile from '../components/UtilTile.astro';
---

<UtilTile tag="div" classList={['rows', 'order-bonuses']}>
  <link rel="stylesheet" href="./components/order-bonuses.css"/>

  <h2 class="h2">Оплатить бонусами</h2>

  <script src="./components/order-bonuses.js" is:inline async></script>
</UtilTile>
