---

---

<div class="order-delivery-1" hidden>
  <link rel="stylesheet" href="./components/order-delivery-1.css"/>

  <h3 class="h3">Выберите отделение</h3>

  <div class="select-wrapper">
    <select name="office" class="util-form-field strong low select" aria-label="Отделение">
      <option value="" selected disabled>- Выберите отделение -</option>
      <option value="1">Самовывоз г.Москва ул. 3-я Парковой 33</option>
      <option value="2">Самовывоз г. Москва ул.Фрунзенской наб. 16к1</option>
      <option value="3">Самовывоз г. Москва Ленинградского пр-та 2</option>
    </select>

    <svg class="svg" width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.23372 0.899902L4.56706 4.8999L0.90039 0.899902" stroke="#D9D9D9" stroke-width="1.8"
            stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <script src="./components/order-delivery-1.js" is:inline async></script>
</div>
