---
import UtilTile from '../components/UtilTile.astro';
---

<UtilTile tag="div" classList={['rows', 'order-city']}>
  <link rel="stylesheet" href="./components/order-city.css"/>

  <h2 class="h2">Ваш город</h2>

  <script src="./components/order-city.js" is:inline async></script>
</UtilTile>
