---
import UtilTile from '../components/UtilTile.astro';

interface Props {
  payments: {}[];
  payment: {};
}

const {payments, payment}: Props = Astro.props;
---

<UtilTile tag="div" classList={['grid', 'order-payment']}>
  <link rel="stylesheet" href="./components/order-payment.css"/>

  <h2 class="h2">Выберите способ оплаты</h2>

  <script src="./components/order-payment.js" is:inline async></script>
</UtilTile>
