---
import UtilTile from '../components/UtilTile.astro';
---

<UtilTile tag="div" classList={['rows', 'order-comment']}>
  <link rel="stylesheet" href="./components/order-comment.css"/>

  <h2 class="h2">Комментарий к заказу</h2>

  <script src="./components/order-comment.js" is:inline async></script>
</UtilTile>
