---

---

<div class="order-delivery-2" hidden>
  <link rel="stylesheet" href="./components/order-delivery-2.css"/>

  <div class="test-block"></div>

  <script src="./components/order-delivery-2.js" is:inline async></script>
</div>
