---
import UtilTile from '../components/UtilTile.astro';

interface Props {
  certificate: string;
}

const {certificate}: Props = Astro.props;
---

<UtilTile tag="div" classList={['rows', 'order-certificate']}>
  <link rel="stylesheet" href="./components/order-certificate.css"/>

  <div class="order-header">
    <h2 class="h2">Сертификат/промо-код</h2>
    <button type="button" class="button" data-order-certificate-form-open>
      <span data-order-certificate-form-add hidden={0 < certificate.length}>Добавить</span>
      <span data-order-certificate-form-edit hidden={0 === certificate.length}>Изменить</span>
    </button>
    <button type="button" class="button" data-order-certificate-form-close hidden>
      <span>Закрыть</span>
    </button>
  </div>

  <div class="info" data-order-certificate-output hidden={0 === certificate.length}>
    <div class="certificate" data-info-certificate>{certificate}</div>
  </div>

  <form class="form" action="/api-order-certificate" novalidate data-form-order-certificate hidden>

    <span></span>

    <button type="submit" class="util-button primary button">
      <span>Применить</span>
    </button>
  </form>

  <script src="./components/order-certificate.js" is:inline async></script>
</UtilTile>
