---
import UtilTile from '../components/UtilTile.astro';
---

<UtilTile tag="div" classList={['rows', 'order-certificate']}>
  <link rel="stylesheet" href="./components/order-certificate.css"/>

  <h2 class="h2">Сертификат/промо-код</h2>

  <script src="./components/order-certificate.js" is:inline async></script>
</UtilTile>
