---
import UtilTile from '../components/UtilTile.astro';
---

<UtilTile tag="div" classList={['grid', 'order-delivery']}>
  <link rel="stylesheet" href="./components/order-delivery.css"/>

  <h2 class="h2">Выберите способ доставки</h2>

  <script src="./components/order-delivery.js" is:inline async></script>
</UtilTile>
