---

---

<div class="popup-login">
  <link rel="stylesheet" href="./components/popup-login.css"/>
  <div class="util-tile" data-popup-login-step="1">
    <label class="label">Новый номер</label>
  </div>
  <div class="util-tile" data-popup-login-step="2" hidden="hidden">
    <label class="label">Введите полученный код</label>
  </div>
  <button type="button" class="another-login" data-popup-login-another-way>
    <span>Подтвердить другим способом</span>
  </button>
  <script src="./components/popup-login.js" is:inline async></script>
</div>
