---
import Popup from '../components/Popup.astro';
import UtilTile from '../components/UtilTile.astro';
---

<Popup name="bonus" title="Система бонусных баллов в нашем интернет-магазине" bgLight={false}>
  <UtilTile tag="div" classList={['section-info']} isHidden={false}>
    <p>При каждом заказе на ваш личный счет начисляются бонусные баллы, которыми можно оплачивать покупки.</p>
    <p><strong>Как использовать бонусы?</strong></p>
    <ul>
      <li>Можно оплатить до <strong>25% стоимости заказа</strong> бонусными баллами.</li>
      <li><strong>1 балл = 1 рубль.</strong></li>
      <li>Укажите количество баллов в специальном поле при оформлении заказа.</li>
      <li>Размер скидки рассчитается автоматически после нажатия кнопки <strong>«Подтверждаю заказ»</strong>.</li>
      <li><strong>Срок действия бонусов — 3 месяца</strong> с момента их начисления. После этого они автоматически
        сгорают.
      </li>
    </ul>
    <p><strong>Начисление бонусов</strong></p>
    <ul>
      <li>Баллы поступают на ваш счет <strong>через 14 дней</strong> после вручения заказа.</li>
      <li>Размер начисления: <strong>от 0% до 5%</strong> от стоимости заказа и выбранного способа оплаты
        (без учета доставки).
      </li>
      <li>Бонусы начисляются только при оплате на сайте через СПБ и при оплате картой.</li>
      <li>Проверить баланс бонусного счета можно в <strong>личном кабинете</strong>.</li>
    </ul>
  </UtilTile>
</Popup>
