---
import UtilHeader from '../components/UtilHeader.astro';

interface Props {
  name: string;
  title: string;
  bgLight: boolean;
}

const {name, title, bgLight}: Props = Astro.props;
---

<div class:list={['popup', bgLight ? 'bg-light' : 'bg-dark']} data-popup-name={name} hidden>
  <div class="popup-header">
    <UtilHeader type="popup" title={title}/>
  </div>
  <div class="popup-main">
    <div class="wrapper">
      <slot/>
    </div>
  </div>
  <div class="popup-footer">
    <slot name="popup-footer"/>
  </div>
</div>
