---
import UtilHeader from '../components/UtilHeader.astro';

interface Props {
  name: string;
  title: string;
  bgLight: boolean;
}

const {name, title, bgLight}: Props = Astro.props;
---

<div class:list={['popup', bgLight ? 'bg-light' : 'bg-dark']} data-popup-name={name} hidden>
  <UtilHeader tag="div" classList={['popup-header']}>
    <h2 class="title">{title}</h2>
    <button class="button" type="button" data-popup-close>
      <span>Отмена</span>
    </button>
  </UtilHeader>
  <div class="popup-main">
    <div class="wrapper">
      <slot/>
    </div>
  </div>
  <div class="popup-footer">
    <slot name="popup-footer"/>
  </div>
</div>
