---
const links: { link: string; img: string, title: string }[] = [
  {link: '/catalog', img: './content/catalog-1.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-2.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-1.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-2.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-1.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-2.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-1.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-2.png', title: 'Каталог'},
  {link: '/catalog', img: './content/catalog-1.png', title: 'Каталог'},
];
---

<div class="popup-menu-header">
  <link rel="stylesheet" href="./components/popup-menu-header.css"/>
  {links.map((item: { link: string; img: string, title: string }) => (
    <a href={item.link} class="tile">
      <img src={item.img} alt={item.title} decoding="async" loading="lazy" class="cover"/>
    </a>
  ))}
</div>
