---

---

<div class="popup-profile-name">
  <link rel="stylesheet" href="./components/popup-profile-name.css"/>
  <div class="util-tile">
    <form class="form-profile-name" action="/profile-name" novalidate data-form-profile-name>


      <label class="label" for="phone"></label>
      <div class="input-wrapper phone">
        <input type="text" name="phone" id="phone" class="input" maxlength="256" value=""
               autocorrect="off" spellcheck="false"
        />
      </div>


      <button type="submit" class="primary-button button">
        <span>Сохранить и применить</span>
      </button>
    </form>
    <button class="secondary-button back" data-popup-profile-name-cancel>
      <span>Отмена</span>
    </button>
  </div>

  <div class="util-tile" hidden="hidden">

  <label class="label" for="code">Введите полученный код</label>
      <div class="input-wrapper code">
        <input type="text" name="code" id="code" class="input" maxlength="4"
               inputmode="numeric" autocomplete="off" autocorrect="off" spellcheck="false"
               placeholder="0000"/>
      </div>

  </div>

  <script src="./components/popup-profile-name.js" is:inline async></script>
</div>
