---
import UtilHeader from '../components/UtilHeader.astro';
const {name, title, bgLight} = Astro.props;
---

<div class:list={['popup', bgLight ? 'bg-light' : 'bg-dark']} data-popup-name={name} hidden="hidden">
  <UtilHeader tag="section" classList={['popup-header']}>
    <h2 class="title">{title}</h2>
    <button class="button" type="button" data-popup-close>
      <span>Отмена</span>
    </button>
  </UtilHeader>
  <div class="popup-main">
    <div class="wrapper">
      <slot/>
    </div>
  </div>
</div>
