---
import ProductTile from '../components/ProductTile.astro';

import type {IProductTile} from '../interfaces';

interface Props {
  products: IProductTile[];
}

const {products}: Props = Astro.props;
---

<section class="section-products" data-page-items>
  <link rel="stylesheet" href="./components/section-products.css"/>
  {products.map((product: IProductTile) => (
    <ProductTile product={product} isSlider={false}/>
  ))}
</section>
