---
import ProductTile from '../components/ProductTile.astro';

import type {IProductTile} from '../interfaces';

interface Props {
  products: IProductTile[];
  title: string;
}

const {products, title}: Props = Astro.props;
---

<div class="slider-products">
  <link rel="stylesheet" href="./components/slider-products.css"/>
  <h2 class="title">{title}</h2>
  <div class="tiles">
    <div class="swiper-wrapper">
      {products.map((product: IProductTile) => (
        <ProductTile product={product} isSlider={true}/>
      ))}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <script src="./components/slider-products.js" is:inline async></script>
</div>
