input {
  font-size: max(16px, 1rem);

  &:focus-visible {
    outline: none;
  }
}

button {
  cursor: pointer;
  padding: .125rem;
}

svg {
  fill: none;
}

[hidden] {
  display: none !important;
}

:root {
  --color-light: #FFFFFF;
  --color-border: #D9D9D9;
  --color-placeholder: #757575;
  --color-dark: #373635;
  --color-link: #009AE3;
  --color-accent: #E81331;

  --header--h: 3.75rem;
  --footer--h: 4rem;
}

.layout {
  scrollbar-gutter: stable;
  font-family: "PF DinDisplay Pro", system-ui, sans-serif;
  overflow-x: hidden;

  font-size: var(--layout--fz, 12px);

  @media (min-width: 320px) {
    --layout--fz: 14px;
  }

  @media (min-width: 360px) {
    --layout--fz: 16px;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(.aside:not([hidden])) {
    display: block;
    overflow-y: hidden;
  }
}

#app {
  container: app / inline-size;
}

.main, .aside {
  padding-top: var(--header--h);
  padding-bottom: var(--footer--h);
}

.main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
}

.aside {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100dvh;

  background-color: rgba(141, 141, 141, .8);
  backdrop-filter: blur(.5rem); /* TODO: Escape key */

  &:not([hidden]) {
    display: flex;
  }

  .popup {
    position: relative;
    margin-inline: auto;
    padding-top: .5rem;
    padding-bottom: 1rem;
    height: 100%;
    width: min(100%, var(--popup--maw, 100%));

    @container app (width > 430px) {
      --popup--maw: 360px;
    }

    display: flex;
    flex-flow: column nowrap;

    background-color: #FFFFFF;

    .popup-header, .popup-main {
      padding-inline: .5rem;
    }

    .popup-header {
      flex-shrink: 0;
    }

    .popup-main {
      overflow-y: auto;
    }

    .popup-wrapper {
      overflow: hidden;
    }
  }
}

.bottom-decoration {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  height: .875rem;
  pointer-events: none;
  background-image: linear-gradient(0, var(--color-border) 0%, var(--color-light) 100%);

  &.page-decoration {
    bottom: var(--footer--h);
  }

  &.popup-decoration {
    bottom: 0;
  }
}
