input {
  font-size: max(16px, 1rem);

  &:focus-visible {
    outline: none;
  }
}

button {
  cursor: pointer;
  padding: 0.125rem;
}

svg {
  fill: none;
}

:root {
  --header--h: 3.75rem;
  --footer--h: 4rem;
}

.layout {
  scrollbar-gutter: stable;
  font-family: Roboto, system-ui, sans-serif;
  overflow-x: hidden;

  font-size: var(--layout--fz, 12px);

  @media (min-width: 320px) {
    --layout--fz: 14px;
  }

  @media (min-width: 360px) {
    --layout--fz: 16px;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &[hidden] {
    display: block;
    overflow-y: hidden;
  }
}

#app {
  container: page-wrapper / inline-size;
}

.main, .aside {
  padding-top: var(--header--h);
  padding-bottom: var(--footer--h);
}

.main {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100dvh;
}

.aside {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  height: 100dvh;
  background-color: rgba(141, 141, 141, .8);
  backdrop-filter: blur(10px);

  &:not([hidden]) {
    display: flex;
  }

  .modal {
    margin: auto;
  }
}
