input {
  font-size: max(16px, 1rem);

  &:focus-visible {
    outline: none;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

summary, button {
  cursor: pointer;
}

button {
  padding: .125rem;
}

svg {
  fill: none;
}

p {
  text-wrap: pretty;
}


.swiper-notification {
  display: none;
}

/* TODO tel component ? */
.iti {
  display: block;
}

.iti--inline-dropdown .iti__country-list {
  max-height: 100%;
}

.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover,
.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country:has(+ .iti__dropdown-content:hover) .iti__selected-country-primary {
  background-color: transparent;
}

.iti__selected-country-primary {
  width: 3.75rem;
  justify-content: center;
}

.iti__flag {
  scale: 1.2;
}

.iti__arrow {
  margin-left: .5rem;
}


:root {
  --header--h: 3.75rem;
  --footer--h: 4rem;
  --catalog-detail-button-buy-wrapper--h: 4.375rem;
}

.layout {
  scrollbar-gutter: stable;
  font-family: system-ui, sans-serif;
  overflow-x: hidden;

  font-size: var(--layout--fz, 12px);

  @media (min-width: 320px) {
    --layout--fz: 14px;
  }

  @media (min-width: 360px) {
    --layout--fz: 16px;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(.popups:not([hidden])) {
    display: block;
    overflow-y: hidden;
  }
}

#app {
  container: app / inline-size;
}

.main {
  position: relative;
  padding-top: var(--header--h);
  padding-bottom: var(--footer--h);
  min-height: 100dvh;
  background-color: #F1F4F6;
}

.page-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: var(--footer--h);
  z-index: 1;
}

.util-decoration {
  position: relative;
  height: .875rem;
}

.popup::after,
.page-footer::after,
.util-decoration::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: .875rem;
  pointer-events: none;
  background-image: linear-gradient(0, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 0) 100%);
}

.page-footer::after {
  bottom: 100%;
}

.popup::after,
.util-decoration::after {
  bottom: 0;
}

.util-button {
  min-height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;

  border-radius: 0.25rem;
  border-width: 1px;
  border-style: solid;

  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  user-select: none;

  &.primary {
    border-color: #009AE3;
    background-color: #009AE3;
    color: #FFFFFF;
  }

  &.secondary {
    border-color: #D9D9D9;
    background-color: #FFFFFF;
    color: #373635;
  }

  &.buy {
    border-color: #373635;
    background-color: #373635;
    color: #FFFFFF;
  }

  &.index {
    border-color: #009AE3;
    background-color: #FFFFFF;
    color: #009AE3;
  }
}

.util-link {
  flex-shrink: 0;
  padding: .125rem;
  min-height: 2.25rem;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  color: #009AE3;
  text-transform: lowercase;
  text-decoration: none;

  &:not([hidden]) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.util-input-error {
  border-color: #E81331 !important;

  &::before, &::after {
    border-color: #E81331 !important;
  }
}
