---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {title, className, isUser = true} = Astro.props;
---

<!DOCTYPE html>
<html lang="ru" class:list={['layout', className]}>
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Astro description"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="./favicon.svg"/>
  <title>{title}</title>
  <link rel="stylesheet" href="./layouts/modern-normalize.css"/>
  <link rel="stylesheet" href="./layouts/layout.css"/>
</head>
<body>
<div id="app">
  <Header/>
  <main class="main">
    <slot/>
  </main>
  <aside class="aside" data-popup-backdrop hidden="hidden">
    <div class="popup" data-popup-name="menu-header" hidden="hidden">
      <div class="popup-header">
        <h2 class="popup-title">Каталог</h2>
        <button class="popup-close" type="button" data-popup-close>Отмена</button>
      </div>
      <div class="popup-main">
        <div class="popup-wrapper">

        </div>
      </div>
      <div class="bottom-decoration popup-decoration" aria-hidden="true"></div>
    </div>
    <div class="popup" data-popup-name="menu-footer" hidden="hidden">
      <div class="popup-header">
        <h2 class="popup-title">Меню</h2>
        <button class="popup-close" type="button" data-popup-close>Отмена</button>
      </div>
      <div class="popup-main">
        <div class="popup-wrapper">

        </div>
      </div>
      <div class="bottom-decoration popup-decoration" aria-hidden="true"></div>
    </div>
  </aside>
  <Footer isUser={isUser}/>
</div>
<script src="./layouts/layout.js" is:inline></script>
</body>
</html>
