---
import Header from '../components/Header.astro';
import Popups from '../components/Popups.astro';
import Footer from '../components/Footer.astro';
import Container from '../components/Container.astro';

const {title, page, isUser = true} = Astro.props;
---

<!DOCTYPE html>
<html lang="ru" class="layout">
<head>
  <meta charset="UTF-8"/>
  <meta name="description" content="Astro description"/>
  <meta name="viewport" content="width=device-width"/>
  <link rel="icon" type="image/svg+xml" href="./favicon.svg"/>
  <title>{title}</title>
  <link rel="stylesheet" href="./layouts/modern-normalize.css"/>
  <link rel="stylesheet" href="./layouts/layout.css"/>
</head>
<body>
<div id="app">
  <Header/>
  <main class:list={['main', page]}>
    <Container>
      <slot/>
    </Container>
  </main>
  <Popups isUser={isUser}/>
  <Footer isUser={isUser}/>
</div>
<script src="./layouts/layout.js" is:inline></script>
</body>
</html>
